<style>
  .coupon-box {
    margin-top: 5px;
    position: relative;
    margin-bottom: -10px;
}
   .coupon-box .coupon-cont {
    display: flex;
    width: 100%;
    max-width: 390px;
    height: 55px;
    position: relative;
    margin-top: 10px;
}
 .coupon-box .coupon-cont::before {
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    border-left: 2px dashed #fff;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
 .coupon-box .coupon-left {
    font-size: 32px;
}
.coupon-box .coupon-cont-item {
    background: #e7004c;
    font-size: 18px;
    color: #fff;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
 .coupon-box .coupon-left .left-txt {
    display: flex;
    align-items: flex-start;
}
  .coupon-box .coupon-right {
    cursor: pointer;
    transition: all .4s ease;
}

 .coupon-box .coupon-cont-item {
    background: #e7004c;
    font-size: 18px;
    color: #fff;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
  .coupon-box .cpnCode {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
  @media screen and (max-width: 740px){
   .coupon-box .coupon-cont {
    margin-top: 0;
}
   .coupon-box .coupon-left {
    font-size: 20px;
}
   .coupon-box .coupon-left .span {
    font-size: 14px;
    margin-top: 8px;
}
  }
</style>
  <div class="coupon-box">
  <div class="coupon-cont">
    <div class="coupon-cont-item coupon-left">
      <div class="left-txt">
        {{ section.settings.code_num }}
      </div>
    </div>
    <div
      class="coupon-cont-item coupon-right copyButton"
      data-txt="コピー完了"
      data-txt1="コードをコピー"
    >
      コードをコピー  >>
    </div>
  </div>
  <span class="cpnCode"> {{ section.settings.code }}</span>
</div>
<script>
  document.querySelector('.copyButton').addEventListener('click', function () {
    let textToCopy = document.querySelector('.cpnCode');
    let range = document.createRange();
    range.selectNode(textToCopy);
    window.getSelection().removeAllRanges(); // 清除之前的选区
    window.getSelection().addRange(range);
    document.execCommand('copy');
    window.getSelection().removeAllRanges(); // 清除选区
    this.innerHTML = this.getAttribute('data-txt');
    setTimeout(() => {
      this.innerHTML = this.getAttribute('data-txt1');
    }, 2000);
  });
</script>