<div class="product_coupon_box">
  <!--
    <button class="coupon_btn">
      <svg class="ProductCoupon_faq__tRwtq" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5775" width="32" height="32"><path d="M514 63.2c-242.6 0-439.3 200.6-439.3 448.1S271.4 959.4 514 959.4s439.3-200.6 439.3-448.1S756.6 63.2 514 63.2z m50.8 704.3H450V659.6h114.8v107.9zM611.7 512c-43.8 29.7-63.3 58.6-58.6 86.7v18.8h-93.8v-25.8c-1.6-48.4 18.8-87.5 60.9-117.2 39-31.2 57.8-59.4 56.3-84.4-3.1-32.8-21.1-50.8-53.9-53.9-43.8 0-71.1 28.9-82 86.7l-105.5-23.4c18.8-106.2 86.7-157.8 203.9-154.7 96.9 4.7 149.2 48.4 157 131.3 3.2 50-24.9 95.3-84.3 135.9z" p-id="5776"></path></svg>
      <div class="coupon_btn_text">
        Hurry! Offer Ends Soon!
      </div>
    </button>
  -->
  <div class="coupon_info">
    <div class="coupon_priceBox">
      <span class="coupon_price"> $100 </span>
      <span class="coupon_off"> OFF </span>
    </div>
    <div class="coupon_copy">
      <div class="coupon_code">
        <span class="code_tle">Code:</span>
        <span id="cpnCode">UlikeYT</span>
      </div>
      <button class="coupon_copyBtn" id="cpnBtn">Copy Code</button>
    </div>
  </div>
  <div class="coupon-txt">Buy 2, get extra $100 OFF</div>
</div>
