<div class="product-form__description rte">
    <div class="product-badge-custom">
      <div class="product-badge__box">
        <div class="product-badge__item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="design-iconfont">
            <path d="M3.64844 14.7422C3.94174 17.485 6.97077 20.1147 9.71317 20.0177" stroke="#040000" stroke-width="1.1"/>
            <path d="M20.8053 9.02902C19.7538 5.07158 16.3358 2.17188 12.2816 2.17188C8.22731 2.17188 4.80928 5.07158 3.75781 9.02902" stroke="#040000" stroke-width="1.1"/>
            <mask id="bxagk0sbz__gzgef72oca" fill="#fff">
              <rect x="17.7109" y="8.45703" width="5.14286" height="6.85714" rx=".677707"/>
            </mask>
            <rect x="17.7109" y="8.45703" width="5.14286" height="6.85714" rx=".677707" stroke="#040000" stroke-width="2.2" mask="url(#bxagk0sbz__gzgef72oca)"/>
            <mask id="bxagk0sbz__exiy67e2zb" fill="#fff">
              <rect x="1.71875" y="8.45703" width="5.14286" height="6.85714" rx=".677707"/>
            </mask>
            <rect x="1.71875" y="8.45703" width="5.14286" height="6.85714" rx=".677707" stroke="#040000" stroke-width="2.2" mask="url(#bxagk0sbz__exiy67e2zb)"/>
            <path stroke="#040000" stroke-width="1.1" d="M10.8549 18.83511A1.16429 1.16429 0 1 0 10.8549 21.163690000000003A1.16429 1.16429 0 1 0 10.8549 18.83511Z"/>
          </svg>
          <span>お得な情報をお知らせする</span>
        </div>
        <div class="product-badge__item">
         <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" fill="none" viewBox="0 0 28 24" class="design-iconfont">
            <path d="M11.5938 21.9375H7.125C6.74531 21.9375 6.4375 21.6297 6.4375 21.25V5.4375C6.4375 5.05781 6.74531 4.75 7.125 4.75H19.5C19.8797 4.75 20.1875 5.05781 20.1875 5.4375V11.625" stroke="#000" stroke-linecap="round"/>
            <path d="M8.5 7.84375H15.375" stroke="#000" stroke-linecap="round"/>
            <path d="M8.5 10.25C8.5 10.25 11.1646 10.25 13.3125 10.25" stroke="#000" stroke-linecap="round"/>
            <path d="M15.8668 11.5074C15.0613 12.3058 13.4787 13.6984 11.9354 14.0449C11.5649 14.1281 11.2524 14.4344 11.2661 14.8138C11.4788 20.7104 14.4231 22.6247 16.4101 22.6247C18.3971 22.6247 21.3413 20.7104 21.5541 14.8138C21.5678 14.4344 21.2552 14.1281 20.8847 14.0449C19.3414 13.6984 17.7588 12.3058 16.9533 11.5074C16.657 11.2137 16.1631 11.2137 15.8668 11.5074Z" stroke="#000" stroke-linecap="round"/>
            <path d="M14 17.125L15.2326 18.3576C15.5011 18.6261 15.9364 18.6261 16.2049 18.3576L18.8125 15.75" stroke="#000" stroke-linecap="round"/>
          </svg>
          <span>メーカー2年保証</span>
        </div>
        <div class="product-badge__item">
         <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" fill="none" viewBox="0 0 28 24" class="design-iconfont">
            <path d="M3.25 10.2852H24.1019" stroke="#040000" stroke-width="1.1"/>
            <path d="M11.7045 18.2856H11.992H16.8747C17.9886 18.2856 18.8915 17.3826 18.8915 16.2688V16.2688C18.8915 15.1549 17.9886 14.252 16.8747 14.252H9.11719" stroke="#040000" stroke-width="1.1"/>
            <path d="M10.44 12.5292L8.46875 14.2578L10.44 15.9865" stroke="#040000" stroke-width="1.1"/>
            <path d="M3.15156 20.5929V9.92747L8.05727 4.55H19.301L24.2067 9.92747V20.5929H3.15156Z" stroke="#040000" stroke-width="1.1"/>
            <path d="M13.6797 4.28516V10.2852" stroke="#040000" stroke-width="1.1"/>
          </svg>
          <span>安心の90日返品・返金保証</span>
        </div>
        <div class="product-badge__item">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M2 4.29883H15.9966C16.4261 4.29883 16.7742 4.64697 16.7742 5.07642V14.7963M2 16.7402H4.33276M14.8302 16.7402H8.4151" stroke="black" stroke-width="1.10499" stroke-linecap="round"/>
          <path d="M2 16.7396V12.4629" stroke="black" stroke-width="1.10499" stroke-linecap="round"/>
          <path d="M16.7793 8.96484H20.1134C20.3635 8.96484 20.5983 9.08514 20.7445 9.28809L22.8534 12.2173C22.9488 12.3496 23 12.5085 23 12.6716V15.9631C23 16.3926 22.6519 16.7407 22.2224 16.7407H19.1121" stroke="black" stroke-width="1.10499" stroke-linecap="round"/>
          <path d="M6.27503 19.0725C7.34865 19.0725 8.219 18.2022 8.219 17.1285C8.219 16.0549 7.34865 15.1846 6.27503 15.1846C5.2014 15.1846 4.33105 16.0549 4.33105 17.1285C4.33105 18.2022 5.2014 19.0725 6.27503 19.0725Z" stroke="black" stroke-width="1.10499"/>
          <path d="M17.1608 19.0725C18.2344 19.0725 19.1047 18.2022 19.1047 17.1285C19.1047 16.0549 18.2344 15.1846 17.1608 15.1846C16.0871 15.1846 15.2168 16.0549 15.2168 17.1285C15.2168 18.2022 16.0871 19.0725 17.1608 19.0725Z" stroke="black" stroke-width="1.10499"/>
          <path d="M2 7.02051H9.77588" stroke="black" stroke-width="1.10499" stroke-linecap="round"/>
          <path d="M2 9.74219H8.22071" stroke="black" stroke-width="1.10499" stroke-linecap="round"/>
        </svg>
          <span>送料無料＆迅速発送</span>
        </div>
      </div>
    </div>
  </div>