<style>
.md1-txt1{
  color: #3F3636;
}
.md1-txt2{
  color: #D43807;
}
.md1-txt4{
  color: #D43807;
}
.md1-item{
  border: 1px solid #EB9A73;
  background: #FFF;
}
.md1-txt5{
  color: rgba(144, 144, 144, 0.80);
}
.price{
  color: #D43807;
}
.md3-rt {
    background:linear-gradient(180deg, #D43807 0%, #F0834E 100%);
}
.md4__inner{
  position: relative;
}
.nav_fix-ps .nav_fix-tle, .nav_fix-ps .nav_fix-txt1, .nav_fix-ps .nav_fix-txt2, .nav_fix-ps .nav_fix-txt3, .nav_fix-ps .nav_fix-txt4 {
    color: #621E08;
}
.nav_fix-ps .nav_fix-txt1, .nav_fix-ps .nav_fix-txt3 {
    border-bottom: 1px solid #621E08;
}
.snsNavigation__title {
   color: #040000;
}
.md4__inner svg{
position: absolute;
    top: 0;
    right: 0;
}
.md4_tle{
  color: #D43807;
}
.md4_tle-box{
  color: #6E473C;
}
.md2_right .product-form__submit {
    background: linear-gradient(90deg, #EF7D49 0%, #D94513 100%);
}
a.prmd5_return-btn{
  background: linear-gradient(106deg, #EF7D49 -7.71%, #D43807 60.36%);
}
.slide-diy .slide-diy-title{
  color: #000;
}
.md6-tle-inner{
  color: #000;
}
.md4__inner .fall_img{
      position: absolute;
    right: 0;
    width: 24.8vw;
    right: 8vw;
}
  @media only screen and (min-width: 768px) {
    .md4__inner .fall_img{
    width: 124px;
    right: 35px;
}
    body:before{
      background-color:#FFF6EE;
    }
  }
</style>
<section>
</section>
{% schema %}
{
  "name": "Atm Css",
  "class": "atm-css",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Atm Css"
    }
  ]
}
{% endschema %}
