<style>
.tiktok-extend-page .rich-text__block h2.h2 {
    max-width: 260px !important;
}
.tiktok-extend-page .rich-text__blocks h2.h2 {
  max-width: 260px !important;
}
  .tiktok-extend-page .rocketchat-widget{
  bottom: 100px !important;
}
</style>
<div></div>
  <script>
    document.getElementsByTagName('body')[0].classList.add('air3-box')
  </script> 



{% schema %}
{
  "name": "Custom Air3 Style",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Custom Air3 Style",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
