
<div class="swiper-banner swiper-container">
    <div class="swiper-wrapper">
  
        <a class="swiper-slide slide1" href="#">
            <div class="w1200">
                <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/back2.png?v=1719458367" alt="">
                <div class="ani pa sl-left" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s">
                    <div class="pa marks">
                       <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/marks.png?v=1719555695" alt="">
                    </div>
                    <div class="pa t1">
                        初めて脱毛器を購入しましたが、思ったより使いやすいし、脱毛の部位は涼しく感じて、全然痛くないです。初回は低めのパワーでやっ
                        てみましたが、徐々にパワーを上げても良いかもしれません。数か月後の効果が楽しみです。
                    </div>
                    <div class="pa t2">
                        User’s name
                    </div>
                
                </div>

            </div>
        </a>



    </div>
    <div class="swiper-pagination"></div>
    </div>
    {% schema %}
    {
      "name": "man-carousel-model",
      "settings": [
        {
          "type": "text",
          "id": "FirstSentence",
          "label": "First sentence",
          "default": "男の魅力丶"
        },
        {
          "type": "text",
          "id": "SecondSentence",
          "label": "Second sentence",
          "default": "解放せよ!"
        },
        {
          "type": "text",
          "id": "MobileFirstSentence",
          "label": "Mobile First sentence",
          "default": "男の魅力丶"
        },
        {
          "type": "text",
          "id": "MobileSecondSentence",
          "label": "Mobile Second sentence",
          "default": "解放せよ!"
        },
        {
          "type": "text",
          "id": "LeftDescription",
          "label": "Left Description",
          "default": "サヨナラ。"
        }, 
        {
          "type": "text",
          "id": "RightDescription",
          "label": "Right Description",
          "default": "毎日のシェービングに"
        }
      ],
    
      "presets": [
        {
          "name": "man-carousel-model",
          "category": "Custom"
        }
      ]
    }
    {% endschema %}
    <script src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/swiper.min.js?v=1719540307" defer="defer"></script>
<script src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/swiper.animate.min.js?v=1719540307" defer="defer"></script>
<script src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/man-swiper.js?v=1719540306" defer="defer"></script>