<div class="introduce-container pc-show ">
    <div class="introduce-left wow slideInLeft wow slideInLeft"  data-wow-delay=".2s">
        <h3>冷やしながら照射</h3>
        <h2>痛みレス*</h2>
        <h4>*痛みの感じ方には個人差があります。</h4>
        <p>
            独自のサファイア冷感技術で痛みレス <br>
            30分間連続照射でも肌温度は20℃以下！
        </p>
    </div>
    <div  class="introduce-right ">
        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yuan3.png?v=1719458360" alt="" class="introduce-right-center">
        <div class="circular-container">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yuan2.png?v=1719458362" alt=""  class="circular-container-back">
            <div class="introduce-text">
                <div class="textALIGN">
                    <div class="introduce-text-index">Point 1</div>
                    <div class="introduce-text-label">ケア前後の冷却も</div>
                    <div class="introduce-text-sub-label">不要</div>
                </div>
            </div>
        </div>
        <div class="circular-container2">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yuan2.png?v=1719458362" alt="" class="circular-container-back">
            <div class="introduce-text">
                <div class="textALIGN">
                    <div class="introduce-text-index">Point 2</div>
                    <div class="introduce-text-label">カートリッジ交換</div>
                    <div class="introduce-text-sub-label">不要</div>
                </div>
            </div>
        </div>
        <div class="circular-container3">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yuan2.png?v=1719458362" alt="" class="circular-container-back">
            <div class="introduce-text">
                <div class="textALIGN">
                    <div class="introduce-text-index">Point 3</div>
                    <div class="introduce-text-label">効果と快適さを <br> 同時に実現する </div>
                    <div class="introduce-text-sub-label">「超冷光美容」</div>
                </div>
            </div>
        </div>
    </div>
    <div class="introduce-product wow slideInRight"  data-wow-delay=".2s">
        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/product4.png?v=1719458366" alt="">
    </div>

   
   </div>
   <div class="introduce-container m-show">
    <div class="introduce-left wow slideInUp" data-wow-delay=".2s">
        <h3>冷やしながら照射</h3>
        <h2>痛みレス*</h2>
        <p>
            独自のサファイア冷感技術で痛みレス <br>
            30分間連続照射でも肌温度は20℃以下！
        </p>
    </div>
    <div  class="introduce-right">
        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yuan3.png?v=1719458360" alt="" class="introduce-right-center">
        <div class="circular-container">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yuan2.png?v=1719458362" alt=""  class="circular-container-back">
            <div class="introduce-text">
                <div class="textALIGN">
                    <div class="introduce-text-index">Point 1</div>
                    <div class="introduce-text-label">ケア前後の冷却も</div>
                    <div class="introduce-text-sub-label">不要</div>
                </div>
            </div>
        </div>
        <div class="circular-container2">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yuan2.png?v=1719458362" alt="" class="circular-container-back">
            <div class="introduce-text">
                <div class="textALIGN">
                    <div class="introduce-text-index">Point 2</div>
                    <div class="introduce-text-label">カートリッジ交換</div>
                    <div class="introduce-text-sub-label">不要</div>
                </div>
            </div>
        </div>
        <div class="circular-container3">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yuan2.png?v=1719458362" alt="" class="circular-container-back">
            <div class="introduce-text">
                <div class="textALIGN">
                    <div class="introduce-text-index">Point 3</div>
                    <div class="introduce-text-label">効果と快適さを <br> 同時に実現する </div>
                    <div class="introduce-text-sub-label">「超冷光美容」</div>
                </div>
            </div>
        </div> 
        <div class="circular-footer">
          痛みの感じ方には個人差があります
        </div>
    </div>
    <div class="introduce-product wow slideInUp" data-wow-delay=".2s">
        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/m-product4.png?v=1719458365" alt="">
    </div>
   </div>
    {% comment %}  model6 start{% endcomment %}
    <div class="propaganda-container pc-show">
        <div class="propaganda-header  wow slideInUp" data-wow-delay=".2s">
            <div class="propaganda-label">光美容器が <span>初めてでも安心</span></div>
            <div class="propaganda-description">
                スキンセンサーが肌の色を認識！常に最適な照射パワーに自動調節
            </div>
        </div>
        <div class="propaganda-main wow slideInUp" data-wow-delay=".2s">
            <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/008a69cef6faa4efe680d4b8bb6b6ef2.png?v=1719568429" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/propaganda2.png?v=1719458364" alt="">
        </div>
        <div class="propaganda-footer wow slideInUp" data-wow-delay=".2s">
           <div class="propaganda-footer-background">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/auto-container.png?v=1719458360" alt="">
           </div>
           <div class="propaganda-innter">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/propaganda4.png?v=1719458359" alt="">
            <p>
                肌の色に合わせて自動調節、光美容器が初めての方でも簡単、部位に合わせた最適パ
                ワーで照射します
            </p>
           </div>
        </div>
   </div>
   <div class="exhibition-container pc-show">
      <div class="exhibition-container-description wow slideInUp" data-wow-delay=".2s">
        <div class="exhibition-container-label">自動連射<span>で</span></div>
        <div class="exhibition-container-sub-label">スピーディーなケア</div>
        <div class="exhibition-container-text">自動高速連射機能付き <br> <span>最速<b>0.4</b> 秒でフラッシュ！</span> </div>
      </div>
      <div class="exhibition-container-material wow slideInUp" data-wow-delay=".2s">
        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/text.png?v=1719458362" alt="">
      </div>
      <div class="exhibition-container-img">
        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/product5.png?v=1719458366" alt="">
      </div>
   </div>

    {% comment %}  model6 end {% endcomment %}
     {% comment %} model7 start {% endcomment %}
     <div class="propaganda-container m-show">
        <div class="propaganda-header wow slideInUp" data-wow-delay=".2s">
            <div class="propaganda-label">光美容器が <span>初めてでも安心</span></div>
            <div class="propaganda-description">
                スキンセンサーが肌の色を認識！ <br> 常に最適な照射パワーに自動調節
            </div>
        </div>
        <div class="propaganda-main wow slideInUp" data-wow-delay=".2s">
            <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/008a69cef6faa4efe680d4b8bb6b6ef2.png?v=1719568429" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/propaganda2.png?v=1719458364" alt="">
        </div>
        <div class="propaganda-footer wow slideInUp" data-wow-delay=".2s">
           <div class="propaganda-footer-background">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/auto-container2.png?v=1719458359" alt="">
           </div>
           <div class="propaganda-innter">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/propaganda4.png?v=1719458359" alt="">
            <p>
                肌の色に合わせて自動調節 <br> 光美容器が初めての方でも簡単部位に合わせた
                最適パワーで照射します
            </p>
           </div>
        </div>
   </div>
   <div class="exhibition-container m-show">
    <div class="exhibition-container-description wow slideInUp" data-wow-delay=".2s">
      <div class="exhibition-container-label">自動連射<span>で</span></div>
      <div class="exhibition-container-sub-label">スピーディーなケア</div>
      <div class="exhibition-container-text">自動高速連射機能付き <br> <span>最速<b>0.4</b> 秒でフラッシュ！</span> </div>
    </div>
    <div>
      <div class="vertical-text">
        <p> 毎日のカミソリ </p>     
        <p>による時間、コスト、</p> 
       </div>
    </div>
    <div class="exhibition-container-material wow slideInUp" data-wow-delay=".2s">
      <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/text2.png?v=1719564484" alt="">
    </div>
    <div class="exhibition-container-img">
      <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/27.png?v=1719741212" alt="">
    </div>
 </div>
      {% comment %} model7 end {% endcomment %}
       {% comment %} model8 start {% endcomment %}
       <div class="nurse-container pc-show">
        <div class="nurse-left wow slideInUp" data-wow-delay=".2s">
          <div class="nurse-list">
            <div class="nurse-item">
              <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/img1.png?v=1719458361" alt="">
            </div>
            <div class="nurse-item">
              <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/img2_ff6c1770-c8d4-4359-82a1-a81809965088.png?v=1719458361" alt="">
            </div>
            <div class="nurse-item">
              <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/img3.png?v=1719458362" alt="">
            </div>
            <div class="nurse-item">
              <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/img4.png?v=1719458362" alt="">
            </div>
            
          </div>
          <div class="nurse-sub-label">全身のムダ毛ケアを</div>
          <div class="nurse-label">これ一本で！</div>
          <p>
            男性向けの強力モード「HIGH」 <br>
         <span> 髭、わき、VIOまで全身対応。</span>
          </p>
        </div>
        <div class="nurse-right wow slideInUp" data-wow-delay=".2s">
           
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/fb8598abdf33913f7f4cb23a5a51d91d.png?v=1719569784" alt="">
        </div>
      </div>
      <div class="nurse-container m-show">
         
        <div class="nurse-left wow slideInUp" data-wow-delay=".2s">
          <div class="nurse-sub-label">全身のムダ毛ケアを</div>
          <div class="nurse-label">これ一本で！</div>
          <p class="nurse-describe">
            男性向けの強力モード「HIGH」 <br>
         <span> 髭、わき、VIOまで全身対応。</span>
          </p>
          <div class="nurse-list">
            <div class="nurse-item">
              <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/img1.png?v=1719458361" alt="">
            </div>
            <div class="nurse-item">
              <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/img2_ff6c1770-c8d4-4359-82a1-a81809965088.png?v=1719458361" alt="">
            </div>
            <div class="nurse-item">
              <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/img3.png?v=1719458362" alt="">
            </div>
            <div class="nurse-item">
              <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/img4.png?v=1719458362" alt="">
            </div>
            
          </div>
    
        </div>
        <div class="nurse-right wow slideInUp" data-wow-delay=".2s">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/img5.png?v=1719458364" alt="">
        </div>
      </div>
        {% comment %} model8 end {% endcomment %}
         {% comment %} model9 start {% endcomment %}
         <div class=" pc-show">
            <div class="Introduction-doctor">
              <div class="Introduction-left wow slideInUp" data-wow-delay=".2s">
                    <div class="Introduction-avator">
                      <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/doctor.png?v=1719458364" alt="">
                      <div class="doctor-name">山内達司 先生</div>
                      <div class="doctor-details">
                        <p>医療法人悠山会 理事長</p>
                        <p>外科 / 整形外科 / メディカルエステ</p>
                      </div>
                    </div>
              </div>
              <div class="Introduction-right wow slideInUp" data-wow-delay=".2s">
                 <h2>医師も推奨</h2> 
                 <p>太く硬い男性のヒゲは、他の部位と比べてお手入れが難しく、継続的
                  なケアが必要です。<span>家庭用光美容器は自宅で好きな時に使えるので、継続しやすい点がメリットです。</span>
                 </p>
                 <p>また、強いパワーが必要である一方で、肌刺激を抑える工夫も求められます。</p>
                 <p>Ulike MEN IPL光美容器は、<span>効率的な光の強さやパルス幅、肌をクー ルダウンする冷却機能など、</span>
                  男性のムダ毛ケアのために開発された機能が充実している点が良いですね。
                </p>
              </div>
          </div>
          </div>
        <div class="Introduction-doctor m-show">
          <div class="Introduction-left wow slideInUp" data-wow-delay=".2s">
                <div class="Introduction-avator">
                  <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/doctor.png?v=1719458364" alt="">
                  <div class="doctor-name">山内達司 先生</div>
                  <div class="doctor-details">
                    <p>医療法人悠山会 理事長</p>
                    <p>外科 / 整形外科 / メディカルエステ</p>
                  </div>
                </div>
          </div>
          <div class="Introduction-right wow slideInUp" data-wow-delay=".2s">
    
             <p>太く硬い男性のヒゲは、他の部位と比べてお手入れが難しく、継続的
              なケアが必要です。<span>家庭用光美容器は自宅で好きな時に使えるので、継続しやすい点がメリットです。</span>
             </p>
             <p>また、強いパワーが必要である一方で、肌刺激を抑える工夫も求められます。</p>
             <p>Ulike MEN IPL光美容器は、<span>効率的な光の強さやパルス幅、肌をクー ルダウンする冷却機能など、</span>
              男性のムダ毛ケアのために開発された機能が充実している点が良いですね。
            </p>
          </div>
      </div>
          {% comment %} model9 end {% endcomment %}
           {% comment %} model10 start {% endcomment %}
           <div class="service-container pc-show wow slideInUp" data-wow-delay=".2s">
            <div class="service-list ">
                <div class="service-item">
                    <div class="service-item-left"><img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/service1.png?v=1719458359" alt=""></div>
                    <div class="service-item-right">
                      <h2>90日返金返品保証</h2>
                      <p>Ulike製品をご使用になり、ご満足いただけない場合に限り、製品到着日から90日であれば全額返金いたします!</p>
                    </div> 
                </div>
                <div class="service-item">
                  <div class="service-item-left"><img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/service2.png?v=1719458360" alt=""></div>
                  <div class="service-item-right">
                    <h2>2年メーカー保証</h2>
                    <p>商品到着後30日以内でレビュー投稿いただければ、メーカー交換保証対応は2年半まで延長します。</p>
                  </div> 
              </div>
            </div>
        </div>
        <div class="service-container m-show">
          <div class="service-list wow slideInUp" data-wow-delay=".2s">
              <div class="service-item">
                  <div class="service-item-left"><img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/service1.png?v=1719458359" alt=""></div>
                  <div class="service-item-right">
                    <h2>90日返金返品保証</h2>
                    <p>Ulike製品をご使用になり、ご満足いただけない場合に限り、製品到着日から90日であれば全額返金いたします!</p>
                  </div> 
              </div>
              <div class="service-item">
                <div class="service-item-left"><img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/service2.png?v=1719458360" alt=""></div>
                <div class="service-item-right">
                  <h2>2年メーカー保証</h2>
                  <p>商品到着後30日以内でレビュー投稿いただければ、メーカー交換保証対応は2年半まで延長します。</p>
                </div> 
            </div>
          </div>
      </div>
            {% comment %} model10 end {% endcomment %} 
             {% comment %} model11 start {% endcomment %}
             <div class="effect-container pc-show">
                <div class="effect-header wow slideInUp" data-wow-delay=".2s">
                  <div class="effect-label"> 效果のためには、<span>痛</span><span>み</span>を我慢すべき？</div>
                </div>
                <div class="effect-main wow slideInUp" data-wow-delay=".2s">
                  <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/effect.png?v=1719458366" alt="">
                  <div class="vertical-text">
                   <p> 毎日のカミソリ </p>
                   <p>による時間、コスト、</p>
                   <p>手間、肌荒れ </p>
                   <p>も大きなストレス。</p>
                  </div>
                  <div class="effect-copywriting">
                    <div class="effect-sub-label">Ulikeメンズ光美容器</div>
                    <div class="effect-label">快適なムダ毛<span>ケアを実現</span> </div>
                  </div>
                </div>
             </div>
             <div class="effect-container m-show">
              <div class="effect-header wow slideInUp" data-wow-delay=".2s">
                <div class="effect-label">
                  <h3>効果のためには、</h3>   
                  <h2><span>痛</span><span>み</span>を我慢すべき？</h2>
                </div>
              </div>
              <div class="effect-main wow slideInUp" data-wow-delay=".2s">
                <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/m-product6.png?v=1719458365" alt="">
                <div class="effect-copywriting">
                  <div class="effect-sub-label">Ulikeメンズ光美容器</div>
                  <div class="effect-label">快適なムダ毛<span>ケアを実現</span> </div>
                  <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/m-product7.png?v=1719458366" alt="" class="link-img">
                </div>
              
              </div>
           </div>
              {% comment %} model11 end {% endcomment %}
               {% comment %} model12 start {% endcomment %}
               <div class="achievement-container pc-show">
                <div class="achievement-header wow slideInUp" data-wow-delay=".2s">
                  <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ranking.png?v=1719458363" alt="" class="achievement-header-left">
                  <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/volume.png?v=1719458361" alt="">
                </div>
                <div class="achievement-main wow slideInUp" data-wow-delay=".2s">
                  <h3>世界28ケ国で500万*人以上の方々に愛されており、販売台数世界NO.1を誇るグローバルブランド 。</h3>
                  <p>* ユーロモニターインターナショナル調べ；2022年世界の家庭用光美容器の小売販売台数から測定；2023年12月に実施された調査に基づく；家庭用光美容器とは、
                  </p>
                  <p>
                    IPLやレーザーといった光エネルギーを利用して無駄毛を処理する家庭用機器を指す。
                  </p>
                </div>
            </div>
            <div class="achievement-container m-show">
                <div>
                    <div class="achievement-header wow slideInUp" data-wow-delay=".2s">
                        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ranking.png?v=1719458363" alt="" class="achievement-header-left">
                        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/volume.png?v=1719458361" alt="">
                      </div>
                      <div class="achievement-main wow slideInUp" data-wow-delay=".2s">
                        <h3>世界28ケ国で500万*人以上の方々に愛されており、 <br> 販売台数世界NO.1を誇るグローバルブランド 。</h3>
                        <p>* ユーロモニターインターナショナル調べ；2022年世界の家庭用光美容器の小売販売台数から測定； <br>
                            2023年12月に実施された調査に基づく；家庭用光美容器とは、IPLやレーザーといった光エネルギーを <br>
                            利用して無駄毛を処理する家庭用機器を指す。
                        </p>
                      </div>
                </div>
          </div>
                {% comment %} model12 end {% endcomment %}
   {% schema %}
   {
     "name": "man-footer-model",
     "blocks": [
       {
         "type": "slide-item",
         "name": "slide_item",
         "settings": [
           {
             "type": "image_picker",
             "id": "image_main",
             "label": "背景图片"
           },
           {
             "type": "textarea",
             "id": "description",
             "label": "描述",
             "default": "初めて脱毛器を購入しましたが、思ったより使いやすいし、脱毛の部位は涼しく感じて、全然痛くないです。初回は低めのパワーでやってみましたが、徐々にパワーを上げても良いかもしれません。数か月後の効果が楽しみです。"
           },
           {
               "type": "text",
               "id": "name",
               "label": "名字",
               "default": "User’s name"
             },
 
         ]
       }
     ],
     "presets": [
       {
         "name": "man-footer-model",
         "category": "Custom"
       }
     ]
   }
   {% endschema %}