
<div class="man-product-container wow  ">
    <div class="man-product-mainImg pc-show ">
      <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/product2.png?v=1719458366" alt="" class="wow slideInUp" data-wow-delay=".2s" />
    </div>
    <div class="man-product-tag wow slideInUp" data-wow-delay=".2s">
      <div>
        <div class="man-product-tag-describe">メンズシリーズの</div>
        <div class="man-product-tag-label">最強</div>
        <div class="man-product-tag-sub-label">ハイパワー</div>
      </div>
    </div>
    <div class="man-product-info wow slideInUp" data-wow-delay=".2s">
      <div class="man-product-label">Ulike Men IPL光美容器</div>
      <div class="man-product-describe">
        強力なパワー、ひんやり痛みレス*
      </div>
      <div class="man-product-data">
        <p class="man-product-data-off">
          <span>20</span>% <span>OFF</span>
        </p>
        <p class="man-product-data-amount">
          <s>71,800円税込</s> 57,400円税込
        </p>
      </div>
    </div>
    <div class="man-product-handle-group wow slideInUp" data-wow-delay=".2s">
      <div class="man-product-handle-button-buy">今すぐ注文</div>
      <div class="man-product-handle-button-details">  <a href="{{ section.settings.linkUrl }}" target="_blank">詳しく見る</a>   </div>
    </div>
  </div>
  <div class="man-product-container  m-show" >
    <div class="man-product-header wow slideInUp" data-wow-delay=".2s" >
      <div class="man-product-sub-label">
        メンズシリーズの
      </div>
      <div class="man-product-label">
        最強ハイパワー
      </div>
      <div class="man-product-describe">
        <p>Ulike Men IPL光美容器</p>
        <p>強力なパワー、ひんやり痛みレス*</p>
        <h2>20 <span>%</span> OFF</h2>
      </div>
      <div class="man-product-data-amount">
        <s>71,800円税込</s> 57,400円税込
      </div>
      <div class="man-product-handle-group">
        <div class="man-product-handle-button-buy">今すぐ注文</div>
        <div class="man-product-handle-button-details">  <a href="{{ section.settings.linkUrl }}" target="_blank">詳しく見る</a>   </div>
      </div>
      <div class="man-product-mainImg-m">
        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/product2.png?v=1719458366" alt="" />
      </div>
    </div>
  </div>
  <div class="sell-point-container pc-show">
    <div class="sell-point-float wow slideInUp" data-wow-delay=".5s" >
      <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/product3.png?v=1719458367" alt="" />
    </div>
    <div class="sell-point-label"><span> 太く硬い毛</span> も速攻ケア!</div>
    <div class="sell-point-sub-describe">
      <p>たった<span>1週間</span>で</p>
      <p>驚きの効果を実感！</p>
    </div>
    <div class="sell-point-tags  wow slideInUp" data-wow-delay=".5s">
      <div class="sell-point-tag">
        <div>
          <div class="sell-point-tag-label">25J</div>
          <div class="sell-point-tag-sub-label">ハイパワー</div>
        </div>
      </div>
      <div class="sell-point-icon"> <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/close_371d509a-ec3f-4009-ba38-b960271599a9.png?v=1719567005"> </div>
      <div class="sell-point-tag">
        <div>
          <div class="sell-point-tag-label">2倍<span>效果</span></div>
          <div class="sell-point-tag-sub-label">革新的な</div>
          <div class="sell-point-tag-sub-label">ダブルランプ</div>
        </div>
      </div>
    </div>
    <div class="man-description">
      <p>男性の髭、脚、VIOなど、太く硬い毛に特化</p>
      <p>
        ダブルランプで照射面積が広く、早く効果を実感できるから継続しやすい
      </p>
      <div class="man-description-list wow slideInRight" data-wow-delay=".5s">
        <div class="man-description-item">
          <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/recommend1.png?v=1719458364" alt="" />
          <div class="man-description-item-ellipse">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ellipse.png?v=1719458358" alt="" />
            <div class="ellipse-text">わき</div>
          </div>
        </div>
        <div class="man-description-item">
          <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/recommend2.png?v=1719458364" alt="" />
          <div class="man-description-item-ellipse">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ellipse.png?v=1719458358" alt="" />
            <div class="ellipse-text">髭</div>
          </div>
        </div>
        <div class="man-description-item">
          <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/recommend3.png?v=1719458364" alt="" />
          <div class="man-description-item-ellipse">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ellipse.png?v=1719458358" alt="" />
            <div class="ellipse-text">VIO</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sell-point-container m-show">

    <div class="sell-point-label wow slideInUp" data-wow-delay=".2s"><span> 太く硬い毛</span> </div>
    <div class="sell-point-label wow slideInUp" data-wow-delay=".2s">も速攻ケア!</div>

    <div class="sell-point-sub-describe wow slideInUp" data-wow-delay=".2s">
      <p>たった<span>1週間</span>で</p>
      <p>驚きの効果を実感！</p>
    </div>
    <div class="sell-point-tags wow slideInUp" data-wow-delay=".2s">
      <div class="sell-point-tag">
        <div>
          <div class="sell-point-tag-label">25J</div>
          <div class="sell-point-tag-sub-label">ハイパワー</div>
        </div>
      </div>
      <div class="sell-point-icon"> <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/close_371d509a-ec3f-4009-ba38-b960271599a9.png?v=1719567005"> </div>
      <div class="sell-point-tag">
        <div>
          <div class="sell-point-tag-label">2倍<span>效果</span></div>
          <div class="sell-point-tag-sub-label">革新的な</div>
          <div class="sell-point-tag-sub-label">ダブルランプ</div>
        </div>
      </div>
    </div>
    <div class="man-description wow slideInUp" data-wow-delay=".2s">
      <p>男性の髭、脚、VIOなど、 <br> 太く硬い毛に特化</p>
      <p>
        ダブルランプで照射面積が広く、 <br> 早く効果を実感で <br> きるから継続しやすい
      </p>
      <div class="man-description-list">
        <div class="man-description-item">
          <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/m-product1.png?v=1719458363" alt="" />
          <div class="man-description-item-ellipse">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ellipse.png?v=1719458358" alt="" />
            <div class="ellipse-text">わき</div>
          </div>
        </div>
        <div class="man-description-item">
          <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/m-product2.png?v=1719458363" alt="" />
          <div class="man-description-item-ellipse">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ellipse.png?v=1719458358" alt="" />
            <div class="ellipse-text">髭</div>
          </div>
        </div>
        <div class="man-description-item">
          <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/m-product3.png?v=1719458363" alt="" />
          <div class="man-description-item-ellipse">
            <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ellipse.png?v=1719458358" alt="" />
            <div class="ellipse-text">VIO</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ 'customer.js' | asset_url }}" defer="defer"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var buyButton = document.querySelector('.man-product-handle-button-buy');
      var productId = {{ section.settings.product_id }};
      console.log('DOMContentLoaded event fired');
      if (buyButton) {
        console.log('Button element found');
        buyButton.addEventListener('click', function() {
          console.log('Button clicked');
          addToCart(productId);
        });
      } else {
        console.log('Button element not found');
      }
    });
    </script>
  {% schema %}
{
  "name": "man-sell-point-model2",
  "settings": [
    {
      "type": "text",
      "id": "FirstSentence",
      "label": "First sentence",
      "default": "男の魅力丶"
    },
    {
      "type": "text",
      "id": "SecondSentence",
      "label": "Second sentence",
      "default": "解放せよ!"
    },
    {
      "type": "text",
      "id": "MobileFirstSentence",
      "label": "Mobile First sentence",
      "default": "男の魅力丶"
    },
    {
      "type": "text",
      "id": "MobileSecondSentence",
      "label": "Mobile Second sentence",
      "default": "解放せよ!"
    },
    {
      "type": "text",
      "id": "LeftDescription",
      "label": "Left Description",
      "default": "サヨナラ。"
    }, 
    {
      "type": "text",
      "id": "RightDescription",
      "label": "Right Description",
      "default": "毎日のシェービングに"
    },
    {
        "type": "url",
        "id": "linkUrl",
        "label": "Link URL",
        "default": "/"
      },
      {
        "type": "number",
        "id": "product_id",
        "label": "Product ID",
        "default": 41335578853424
      }
  ],

  "presets": [
    {
      "name": "man-sell-point-model2",
      "category": "Custom"
    }
  ]
}
{% endschema %}
