
<div class="swiper-banner swiper-container ">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <div class="swiper-slide slide1" href="#">
            <div class="w1200">
              
                {{- block.settings.image_main  | image_url: width:  block.settings.image_main.width | image_tag: loading: 'lazy', draggable: false , class:'pc-show' -}}

                {{- block.settings.image_main_m  | image_url: width:  block.settings.image_main_m.width | image_tag: loading: 'lazy', draggable: false , class:'m-show' -}}

                <div class="ani pa sl-left wow" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s">
                    <div class="pa marks">
                       <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/marks.png?v=1719555695" alt="">
                    </div>
                    <div class="pa t1">
                        {{ block.settings.description  }}
                    </div>
                    <div class="pa t2">
                        {{  block.settings.name  }}
                    </div>
                
                </div>

            </div>
        </div>

    {% endfor %}

    </div>
    <div class="swiper-pagination"></div>
    </div>
    {% schema %}
    {
      "name": "man-carousel-model",
      "blocks": [
        {
          "type": "slide-item",
          "name": "slide_item",
          "settings": [
            {
              "type": "image_picker",
              "id": "image_main",
              "label": "背景图片"
            },
            {
              "type": "image_picker",
              "id": "image_main_m",
              "label": "移动端背景图片"
            },
            {
              "type": "textarea",
              "id": "description",
              "label": "描述",
              "default": "初めて脱毛器を購入しましたが、思ったより使いやすいし、脱毛の部位は涼しく感じて、全然痛くないです。初回は低めのパワーでやってみましたが、徐々にパワーを上げても良いかもしれません。数か月後の効果が楽しみです。"
            },
            {
                "type": "text",
                "id": "name",
                "label": "名字",
                "default": "User’s name"
              },
  
          ]
        }
      ],
      "presets": [
        {
          "name": "man-carousel-model",
          "category": "Custom"
        }
      ]
    }
    {% endschema %}
    <script src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/swiper.min.js?v=1719540307" defer="defer"></script>
<script src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/swiper.animate.min.js?v=1719540307" defer="defer"></script>
<script src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/man-swiper.js?v=1719540306" defer="defer"></script>