<style>
/* md3 start*/
    .md3-rt{
       background:linear-gradient(180deg, #5595D5 0%, #F2ABCA 100%);
    }
  .md3-inner {
    background: #F2F4FB;
}
.md3-item {
background: #FFF;
}
.add_btn-icon {
    bottom: 2.666666666666667vw;
    right: 2.666666666666667vw;
}
.nav_fix-ps .nav_fix-tle,.nav_fix-ps .nav_fix-txt1,.nav_fix-ps .nav_fix-txt2,.nav_fix-ps .nav_fix-txt3,.nav_fix-ps .nav_fix-txt4{
  color:  #FFF;
}
.nav_fix-ps .nav_fix-txt1,.nav_fix-ps .nav_fix-txt3{
    border-bottom: 1px solid #FFF;
}
@media only screen and (min-width: 768px) {
  .add_btn-icon {
    bottom: 10px;
    right: 10px;
}
  body:before{
   background-color: #5595D5
  }
}
/* md3 end*/
/* md4 start*/
.md4__inner {
    /* background: #FFF; */
}
.md4_pic {
    text-align: right;
    margin-left: 13.866666666666665vw;
    margin-right: 0;
}
.md4_tle{
  color: #182E67;
font-weight: 700;
line-height: 150%;
}
.md4_tle {
    margin-left: 13.866666666666665vw;
}
@media only screen and (min-width: 768px) {
  .md4_pic {
    margin-left: 69px;
    margin-right: 0;
}
  .md4_tle {
       margin-left: 69px;
}
}
/* md4 end*/
/* md6 start*/
    .md5-bt {
        padding: 10.666666666666668vw 5.3vw 5.3vw;
    }
.md5_bt-tle svg{
  display:none;
}
.pd_img {
  margin-left: 13.866666666666665vw;
}
.detailBox__item:before{
  display: none;
}
.detailBox__item {
  margin-left: 13.866666666666665vw;
padding-left: 0px;
  padding-top: 8vw;
}
.md5__inner.with-img--reverse .pd_img  {
  margin-left: 0;
 margin-right: 13.866666666666665vw;
}
.snsNavigation__title{
  color:  #FFF;
}
.md2_right .product-form__submit{
      background: linear-gradient(90deg, #FEA1C9 0%, #00BCB1 100%);
}
.md2_right .product-form__submit.button:after {
      border: none;
}
.md2_right .buy_btn {
    border: 1px solid #000;
    color: #000;
}
.md2_right .buy_btn:hover {
    background: var(--color-button-gradient);
    color: #FFF;
    border: 1px solid var(--color-button-gradient);
}
@media only screen and (min-width: 768px) {
   .md5-bt {
        padding: 50px 27px 27px;
    }
  .pd_img {
  margin-left: 69px;
}
  .detailBox__item {
  margin-left: 69px;
    padding-top: 35px;
}
  .md5__inner.with-img--reverse .pd_img  {
  margin-left: 0;
 margin-right: 69px;
}
}
/* md6 end*/
.slide-diy .slide-diy-title{
  color: #182E67;
}
.slide-diy .slide-diy-msg {
opacity: 0.5;
}
.md6-tle-inner{
  color: #FFF;
}
.md6_tle-box::after{
  display:none;
}
</style>
<section>
</section>
{% schema %}
{
  "name": "Prm End",
  "settings": [
  ],
  "presets": [
    {
      "name": "Prm End"
    }
  ]
}
{% endschema %}
