<style>
#shopify-section-{{ section.id }}{
  position: sticky;
  top: calc((var(--sticky-header-height)) * (var(--sticky-header-vis)));
  z-index: 2;
}
.technology-tab {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background: #fdfdfd;
}

.technology-tab .technology-tab-list {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.technology-tab .technology-tab-item {
  color: #212121;
  font-size: 26px;
  line-height: 1;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
}

.technology-tab .technology-tab-item.active {
  border-bottom: 2px solid #000;
  font-family: var(--font-heading-family);
}

@media (max-width: 991px) {
  .technology-tab .technology-tab-list {
    gap: 30px;
  }

  .technology-tab .technology-tab-item {
    font-size: 14px;
    text-align: center;
  }
}
</style>
<section class="section-box">
  <div class="technology-tab">
    <div class="jp-container">
      <div class="technology-tab-list">
        {%- for block in section.blocks -%}
          <a href="{{ block.settings.link }}" class="technology-tab-item {% if block.settings.is_check %}active{% endif %}">{{ block.settings.text }}</a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "technology-tab",
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "checkbox",
          "id": "is_check",
          "label": "选中",
          "default": false
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default":"Ice cooling"
        },
        {
          "type": "url",
          "id": "link",
          "label": "链接"
        }
      ]
    }
  ],
  "settings": [
  ],
  "presets": [
    {
      "name": "technology-tab",
      "blocks": []
    }
  ]
}
{% endschema %}
