<section>
  
</section>
{% schema %}
{
  "name": "man-sell-point-model2",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],

  "presets": [
    {
      "name": "Test Product"
    }
  ]
}
{% endschema %}
