 {%- liquid
  assign product = section.settings.product
-%}
<section>
  {%- for option in product.options_with_values -%}
  <div>
    {%- for value in option.values -%}
    <div>{{ value | escape }}</div>
       {%- endfor -%}
  </div>
     {%- endfor -%}
</section>
{% schema %}
{
  "name": "man-sell-point-model2",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],

  "presets": [
    {
      "name": "Test Product"
    }
  ]
}
{% endschema %}
