 {%- liquid
  assign product = section.settings.product
-%}
<section>
 {% for variant in product.variants %}
  <div id="{{ variant.id }}"> {{ variant.option1  }} - {{ variant.price | money }}</div>
{% endfor %}
</section>
<script>
</script>
{% schema %}
{
  "name": "Test Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],

  "presets": [
    {
      "name": "Test Product"
    }
  ]
}
{% endschema %}
