 {%- liquid
  assign product = section.settings.product
-%}
<section>
 {% for variant in product.variants %}
  {{ variant.option2  }} - {{ variant.price | money }}
{% endfor %}
</section>
<script>
   window.aa = "{{ section.settings.product }}"
</script>
{% schema %}
{
  "name": "man-sell-point-model2",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],

  "presets": [
    {
      "name": "Test Product"
    }
  ]
}
{% endschema %}
