 {%- liquid
  assign product = section.settings.product
-%}
<section>
  <div>
    {{product.selected_or_first_available_variant.quantity_rule.min}}
  </div>
</section>
{% schema %}
{
  "name": "man-sell-point-model2",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],

  "presets": [
    {
      "name": "Test Product"
    }
  ]
}
{% endschema %}
