[role=main] .shopify-section {
  z-index: 1;
}

.title-wrapper {
  margin-block-end: clamp(var(--sp-8), 2.526vw, var(--sp-12));
}

/*!
 * ulike-scroll-list
 */
.ulike-scroll-list {
  position: relative;
  min-height: 100vh;
}
.ulike-scroll-list .scroll-list-section {
  display: flex;
  width: 100%;
  z-index: 0;
}
@media (max-width: 767.99px) {
  .page-width .ulike-scroll-list .scroll-list-section {
    margin-left: calc(var(--page-padding) * -1);
    margin-right: calc(var(--page-padding) * -1);
    width: auto;
    padding-inline: var(--page-padding);
  }
  .page-width .ulike-scroll-list .scroll-list-section .title-wrapper {
    margin-block-start: clamp(var(--sp-8), 2.526vw, var(--sp-12));
  }
}
@media (min-width: 768px) {
  .ulike-scroll-list .scroll-list-section {
    background-color: #edf8f8;
  }
}
.ulike-scroll-list .scroll-list-section .content {
  position: relative;
}
@media (min-width: 768px) {
  .ulike-scroll-list .scroll-list-section .content {
    width: 50%;
    padding: 10% 5% 10%;
  }
}
@media (min-width: 1200px) {
  .ulike-scroll-list .scroll-list-section .content {
    padding: 10% 10% 10% 0;
  }
}
.ulike-scroll-list .scroll-list-section .content .footnote {
  font-size: 12px;
  margin-top: 2rem;
}
.ulike-scroll-list .scroll-list-section .content .content-inner {
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .ulike-scroll-list .scroll-list-section .content .content-inner {
    padding: 0em 0em 3em 0;
  }
}
.ulike-scroll-list .scroll-list-section .content .content-inner.first {
  padding-left: 0;
}
.ulike-scroll-list .scroll-list-section .content .content-inner .content-wrapper {
  transition: opacity 0.5s ease;
  padding: 0 0 2em;
  display: flex;
  flex-direction: column;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .ulike-scroll-list .scroll-list-section .content .content-inner .content-wrapper {
    padding: 0;
    opacity: 0.2;
  }
}
.ulike-scroll-list .scroll-list-section .content .content-inner .content-wrapper .image {
  width: 100%;
}
.ulike-scroll-list .scroll-list-section .content .content-inner .content-wrapper .image img {
  display: inline-block;
}
.ulike-scroll-list .scroll-list-section .content .content-inner.inView .content-wrapper {
  opacity: 1;
}
.ulike-scroll-list .scroll-list-section .content .content-inner:before {
  content: "";
  position: absolute;
  transform: translateX(-0.375em);
  left: 0;
  top: 26px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease;
}
@media (min-width: 768px) {
  .ulike-scroll-list .scroll-list-section .content .content-inner.show-bullet:before {
    opacity: 1;
  }
}
.ulike-scroll-list .scroll-list-section .image-container {
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .ulike-scroll-list .scroll-list-section .image-container {
    display: block;
    width: 50%;
  }
}
.ulike-scroll-list .scroll-list-section .image-container .images {
  position: sticky;
  height: 100vh;
  width: 100%;
  top: 0;
}
.ulike-scroll-list .scroll-list-section .image-container .images .image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  display: block;
  background: var(--image-background-color, #FFF);
}
.ulike-scroll-list .scroll-list-section .image-container .images .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ulike-scroll-list .scroll-list-section .image-container .images .image .placeholder {
  width: 100%;
  height: 100%;
  background-color: gray;
}
.ulike-scroll-list .scroll-list-section .mobile-image {
  width: 100%;
  border-radius: var(--rounded-block);
  overflow: hidden;
}
@media (min-width: 768px) {
  .ulike-scroll-list .scroll-list-section .mobile-image {
    display: none;
  }
}
.ulike-scroll-list .dynamic-sections {
  position: relative;
}
@media (min-width: 768px) {
  .ulike-scroll-list .dynamic-sections {
    padding-bottom: 30vh;
  }
}
.ulike-scroll-list .dynamic-sections .content-wrapper {
  padding-bottom: 2em;
}
.ulike-scroll-list .dynamic-sections .timeline {
  position: absolute;
  height: 0;
  display: none;
}
@media (min-width: 768px) {
  .ulike-scroll-list .dynamic-sections .timeline {
    display: block;
  }
}
.ulike-scroll-list .dynamic-sections .timeline .timeline-bar {
  position: absolute;
  height: 100%;
  width: 0.25em;
  background-color: transparent;
  top: 0;
  left: 0;
}

/*!
 * .multicolumn-card.with-background
 */
.multicolumn-card.with-background {
  flex-direction: column;
  gap: 0;
  position: relative;
}
.multicolumn-card.with-background .multicolumn-card__info {
  padding: 0 20px 40px;
}
.multicolumn-card.with-background .tail {
  display: block;
  content: "";
  width: 100%;
  aspect-ratio: 25/1;
  position: relative;
}
.multicolumn-card.with-background .tail svg {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  /* aspect-ratio: 584/600; */
  max-width: 450px;
  transform: translateX(-50%);
  left: 50%;
  right: auto;
}
.multicolumn-card.with-background .tail svg path {
  fill: var(--u-background-color, transparent);
}
.multicolumn-card.with-background .button {
  padding: clamp(var(--sp-2), 1.2vw, var(--sp-5d5)) clamp(var(--sp-6d5), 1.473vw, var(--sp-7d5));
}

.ulike.multicolumn {
  z-index: 0;
  margin-top: -30vh;
}
.ulike.multicolumn + .ulike.multicolumn {
  margin-top: 0;
}
.ulike.multicolumn + .ulike.multicolumn .section.section--padding {
  position: static;
}
.ulike.multicolumn .section.section--padding {
  top: 50vh;
  position: sticky;
}
.ulike.multicolumn .title-wrapper {
  min-height: 120px;
  position: relative;
}
.ulike.multicolumn .title-wrapper > .grid {
  position: sticky;
  top: var(--section-padding-top);
}
@media screen and (min-width: 768px) {
  .ulike.multicolumn .title-wrapper.md\:items-end {
    align-items: flex-start;
  }
}
.ulike.multicolumn .multicolumn-card.with-background > .grid {
  position: relative;
  z-index: 1;
  max-width: 450px;
  margin: 0 auto;
}
.ulike.multicolumn .multicolumn-card.with-background .multicolumn-card__info {
  position: relative;
}
.ulike.multicolumn .multicolumn-card.with-background:nth-of-type(even) {
  margin-top: 90px;
}
@media screen and (max-width: 1023px) {
  .ulike.multicolumn .multicolumn-card.with-background:nth-of-type(even) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 639px) {
  .ulike.multicolumn .multicolumn-card.with-background:nth-of-type(even) {
    margin-top: 0;
  }
}
@media screen and (max-width: 639px) {
  .ulike.multicolumn .multicolumn-card.with-background .grid.slider.slider--tablet .multicolumn-card.with-background:nth-of-type(even) {
    margin-top: 100px;
  }
}
.ulike.multicolumn .grid.slider {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767.99px) {
  .multicolumn-card.with-background .button {
    min-width: var(--sp-40);
  }
  .multicolumn-card.with-background .multicolumn-card__info {
    padding-bottom: 30px;
  }
}
@media (max-width: 399.99px) {
  .multicolumn-card.with-background .multicolumn-card__info {
    padding-bottom: 30px;
  }
}
/*!
 * .slideshow
 */
.ulike.slideshow .slideshow .banner {
  max-width: unset;
}
.ulike.slideshow .section.section--padding:before {
  height: auto;
}

/*!
 * .image-comparison
 */
.image-comparison-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.image-comparison-row .image-comparison-image {
  flex-grow: 1;
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}
.image-comparison-row .image-comparison-image-comparison {
  flex-grow: 1;
}
.image-comparison-row .image-comparison-image-trigger {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 200px;
}
.image-comparison-row .image-comparison-image-trigger .trigger {
  width: calc(50% - 10px);
}
.image-comparison-row .image-comparison-image-trigger .trigger .image {
  aspect-ratio: 1/1;
  width: 100%;
}
.image-comparison-row .image-comparison-text {
  width: 30%;
}

.image-comparison-trigger {
  position: relative;
  cursor: pointer;
}
.image-comparison-trigger img {
  border-radius: calc(var(--rounded-block) / 2);
}
.image-comparison-trigger:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.image-comparison-trigger.active:before {
  content: none;
}

.image-comparison-wrapper {
  display: none;
}
.image-comparison-wrapper.active {
  display: block;
}

@media (min-width: 1024px) {
  .ulike.image-comparison .image-comparison {
    height: 310px;
  }
}
@media (min-width: 1400px) {
  .ulike.image-comparison .image-comparison {
    height: 430px;
  }
  .image-comparison-row .image-comparison-image-trigger {
    width: 280px;
  }
}
@media (max-width: 1023px) {
  .image-comparison-row {
    flex-direction: column-reverse;
  }
  .image-comparison-row .image-comparison-image {
    display: block;
  }
  .image-comparison-row .image-comparison-image-comparison {
    margin-bottom: 20px;
  }
  .image-comparison-row .image-comparison-image-trigger {
    width: 100%;
    flex-wrap: nowrap;
  }
  .image-comparison-row .image-comparison-text {
    width: 100%;
  }
}
.ulike.image-comparison .results-lin {
  display: block !important;
  position: relative;
  height: 6px;
  background: #e3e3e3;
  border-radius: 6px;
  margin-top: 20px;
}
.ulike.image-comparison .results-lin::before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  background: #000;
  border-radius: 6px;
  transition: width 0.7s 0.5s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.ulike.image-comparison .results-lin::before {
  width: var(--lin-width);
}
.ulike.image-comparison .results-progress-txt .text {
  margin-top: 10px;
}
.ulike.image-comparison .results-progress {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023.99px) {
  .ulike.image-comparison .results-lin {
    margin-top: 20px;
  }
  .ulike.image-comparison .results-progress {
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .ulike.image-comparison .results-lin {
    margin-top: 15px;
  }
  .ulike.image-comparison .results-progress {
    justify-content: space-between;
    height: 100%;
  }
}
/*!
 * border-radius for image and video
 */
.js .section--rounded :is(.banner__map, .banner__media, .banner__overlay, .video-hero) {
  border-radius: var(--border-radius);
  max-height: 100%;
}

/*!
 * testimonials
 */
.testimonials .flickity-slider .flickity-cell {
  width: 100%;
}

/*!
 * Footer
 */
@media screen and (min-width: 1280px) {
  footer.footer {
    display: flex;
  }
  .footer__left {
    flex-grow: 1;
    font-size: 12px;
  }
  .footer__left .text-sm-lg {
    font-size: 12px;
  }
  .footer__left .text-base-2xl {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__right {
    padding-inline: var(--sp-10);
  }
}
.footer__newsletter .h3 {
  font-size: 16px;
}

.ulike-button {
  padding: clamp(var(--sp-2), 1.2vw, var(--sp-5d5)) clamp(var(--sp-6d5), 1.473vw, var(--sp-7d5));
}

.search-section > .section > .collection {
  min-height: unset;
}

/*!
 * Image with text
 */
.heading.leading-none {
  line-height: normal;
}

@media screen and (min-width: 1024px) {
  .image-with-text.lg\:flex-row-reverse .rich-text {
    padding-left: 0 !important;
  }
  .image-with-text.lg\:flex-row .rich-text {
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 1023.99px) {
  .image-with-text.with-background .rich-text {
    padding: var(--sp-10) 0;
  }
}
/*!
 * .multicolumn-card
 */
.multicolumn-card > .grid {
  width: 100%;
}

/*!
 * .product__title.with-price
 */
.product__title.with-price {
  display: flex;
  flex-wrap: wrap;
}
.product__title.with-price h1 {
  width: 100%;
}
.product__title.with-price .tax {
  color: #b3b3b3;
  display: inline-block;
  margin-left: 0.5em;
  font-size: 12px;
}
.product__title.with-price .product__price > .price {
  flex-direction: row;
}

/*!
 * .split-words .single-word
 */
.split-words .single-word {
  white-space: normal;
}