/* 自定义字体与全站样式 */
@font-face {
  font-family: 'Saans Regular';
  src:
    url('{{ "Saans-Regular1.woff2" | asset_url }}') format('woff2'),
    url('{{ "Saans-Regular1.woff" | asset_url }}') format('woff'),
    url('{{ "Saans-Regular1.otf" | asset_url }}') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-font-family: 'Saans Regular', sans-serif;
  --heading-font-family: 'Saans Regular', sans-serif;
}
