:root {
  --font-bold: 500;
  --title-sm: clamp(var(--text-2xl), 2.526vw, var(--text-4xl));
} 
.header__menu>ul.with-block .menu__item .btn-duplicate {
  background-color: rgb(var(--color-hover));
}

.js .image-comparison {
    --percent: 50%;
}
footer-group {
  --page-width: 1600px;
}

@media screen and (min-width: 1200px) {
  :root {
    --page-padding: max(var(--sp-12), 50vw - var(--scrollbar-width, 0px)/2 - var(--page-width)/2);
  }
}
@media (max-width: 767.99px) {
  :root {
    --page-padding: var(--sp-6);
  }  
}