/* start 产品详情页卖点板块样式 */
.product-badge__box {
  display: flex;
  align-items: center;
  background: #F5F5F5;
  justify-content: space-around;
  padding: 13px;
  flex-wrap: wrap;
  grid-row-gap: 10px;
}
 .product-badge-custom{
  flex-wrap: wrap;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}
.product-badge-custom .product-badge__item{
  display: flex;
  align-items: center;
  flex-basis: 50%;
}
.product-badge-custom .product-badge__item span{
  margin-left: 10px;
  font-size: 14px;
}
.product-badge-custom .product-subinfo{
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 15px; 
  column-gap: 2rem;
  flex-direction: column;
}
.product-badge-custom .product-subinfo .product-subinfo-list{
/*   display: flex;
  align-items: center;
  flex-wrap: wrap; */
  display: flex;
    align-items: center;
    align-items: baseline;
}
.product-badge-custom .product-subinfo strong{
  color: #63666A;
  font-size: 14px;
  margin-right: 5px;
}
.product-badge-custom .product-subinfo em{
  color: #e0004d;
font-size: 14px;
top: 0px;
position: relative;
margin-left: 3px;
}
.description__tle {
    display: block;
    font-size: 16px;
    font-weight: 900;
}
@media (max-width: 768px) {
  .product-badge__box{
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    margin-top: 20px;
    background: #ffffff;
    padding: 0;
  }
  .product-badge-custom .product-badge__item {
    align-items: center;
    padding: 5px 0;
    flex-basis: 100%;
}
  .coupon_info {
    max-width: inherit !important;
    margin-top: 12px;
    padding: 10px !important;
}
  .coupon_priceBox .coupon_price {
    font-size: 18px;
}
}
/* end 产品详情页卖点板块样式 */
 /* start 产品详情页折扣码样式 */
 .shopify-section--main-product .product-form{
  grid-row-gap: initial;
  row-gap: initial;
  margin-top: -8px;
 }
 .shopify-section--main-product .product-meta__reference {
  margin-top: 0px;
 }
 .product_coupon_box{
  position: relative;
  display: flex;
  flex-direction: column;
/*   margin-bottom: 35px; */
padding-top: 20px; 
}
.coupon_btn{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.625rem;
}
.coupon_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  background-color: #000000;
  max-width: 270px;
}
.coupon-txt{
  color: #e0004d;
    font-weight: 700;
    margin-left: 15px;
}
.coupon_priceBox{
  flex: 1 1;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  border-right: 1px dashed #ffffff;
}
.coupon_priceBox .coupon_price{
  font-size: 24px;
}
.coupon_priceBox .coupon_off{
  margin-left: 0.5rem;
font-size: 14px;
}
.coupon_copy{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.coupon_code{
  margin-right: 1.875rem;
  font-size: 12px;
  line-height: 1rem;
  font-weight: 400;
  color: #666;
  display: none;
}
.coupon_code span{
  line-height: 2rem;
}
.coupon_copyBtn {
  display: flex;
  width: 7rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  --tw-text-opacity: 1;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
.coupon_copyBtn:hover{
  opacity: 0.8;
}
.coupon_copyBtn.copyActive{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/1);
  color:#E0004D;
}

@media (max-width: 768px) {
  .coupon_copy {
    width: 50%;
  }
  .coupon_copyBtn {
  text-decoration: none;
}
}
/* end 产品详情页折扣码样式 */
/* start 产品slidebar 公共信息*/
.product-slidebar__info{
  display: flex;
}
.pay-ico-box{
  display: flex;
  width: 100%;
/* align-content: center; */
align-items: flex-start;
/* justify-content: space-between; */
margin-top: 35px;
margin-bottom: 15px;
font-size: 14px;
line-height: 19px;
flex-direction: column;
margin-right: 24px;
padding-right: 24px;
}
.pay-ico-box.shipping-box {
  flex-basis: 65%;
}
.pay-ico-box:not(:last-child){
  border-right: 1px solid #DFDFDF;
}
.pay-txt{
margin-bottom: 8px;
}
.pay-ico{
  flex-basis: 100%;
}
.pay-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pay-list svg{
  display: inline-block;
  margin: 1px;
}
.shipping-box svg{
  margin: 1px 6px;
}
.shipping-box .pay-ico{
display: flex;
justify-content: end;
}
@media (max-width: 768px) {
    .pay-ico-box{
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;
    }
    .pay-txt{
      margin-bottom: 1rem;
      font-weight: 700;
    }
    .shipping-box svg{
      margin: 1px;
    }
    .product-slidebar__info{
      flex-direction: column;
    }
    .pay-ico-box:not(:last-child) {
      border-right: none;
    }
  }
 /* end 产品slidebar 公共信息*/
/* start售后保障yujie*/
    .assure-box{
      display: flex;
      align-content: space-between;
      align-items: stretch;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .assure-list{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      flex-basis: 25%;
    }
    .assure-txt{
      text-align: center;
      line-height: 1.6;
    min-height: 42px;
    color: #323232;
    }
/* end售后保障yujie*/