* {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

div {
  display: block;
}
body{
  overflow-x:hidden;
  

}
.pc-show{
  display:block !important;
}
.m-show{
  display:none !important;
}
.textALIGN {
  text-align: center;
}

/* global container start*/
.man-container {
}
/* global container end */

/* model1 start */
.man-header {
  background: #000;
  position: relative;
  padding-bottom: 0vw;
}
.man-header .man-image img {
  width: 100%;
  height: 100%;
}
.man-header .man-text-container {
  position: absolute;
  top: 0;
  left: 0;
}
.man-header .man-text-container .man-text-label .text {
  position: relative;
  left: 12vw;
  top: 14vw;
  transform: skew(353deg, 352deg);
  color: #fff;
  font-weight: 700;
  font-size: 8vw;
}
.man-header .man-text-container .man-text-label .text:nth-child(2) {
  position: relative;
  left: 25vw;
  top: 10vw;
  transform: skew(353deg, 352deg);
  font-weight: 700;
  font-size: 8vw;
}
.man-header .man-text-container .man-text-label .text img {
  width: 37vw;
  height: 100%;
}
.man-header .vertical-text {
  position: absolute;
  right: 13vw;
  top: 3vw;
  writing-mode: tb-rl;
  color: #fff;

}
.man-header .vertical-text p {
  riting-mode: vertical-rl;
  letter-spacing: 1px;
  margin: 0;
  
  font-size: 30.623px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.man-header .man-main-product {
  position: absolute;
  right: 17vw;
  top: 25vw;
  text-align: center;
}

.man-main-product img {
  width:9vw;
  height: 100%;
  margin-bottom: 1vw;
  margin: 10px auto;
}
.man-main-product .man-main-product-label {
  
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
/* model end */
/* model2  start*/
.man-product-container {
  position: relative;
  left: 0;
  top: 0;
  background: url("https://cdn.shopify.com/s/files/1/0841/4596/3322/files/background.png?v=1719458366") no-repeat center center;
  background-size: cover;
  padding-bottom: 54vw;
}
.man-product-container .man-product-mainImg {
  width: 72vw;
  position: absolute;
  top: 25vw;
  left: 66vw;
  transform: translate(-50%, -50%);
}
.man-text-label span{
 transform: skew(334deg,3deg);
 display: inline-block;
 position: relative;
 top: 2vw;
}
.man-product-container .man-product-mainImg img{
  width: 45vw;
}

.man-product-container .man-product-tag {
  position: absolute;
  top: 7vw;
  right: 13%;
  width: 15vw;
  height: 15vw;
  flex-shrink: 0;
  background: #c9ecff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.man-product-tag .man-product-tag-describe {
  color: #000;
  
  font-size:1.5vw;
  font-style: normal;
  font-weight: 500;
}
.man-product-tag .man-product-tag-label {
  color: #000;
  
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 5vw;
}
.man-product-tag .man-product-tag-sub-label {
  color: #000;
  text-align: center;
  
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
}
.man-product-info {
  position: absolute;
  top: 33vw;
  left: 20%;
  color: #fff;
  
}
.man-product-info .man-product-label {
  font-size: 2vw;
  font-weight: 500;
  font-family: var(--font-it-family);
}
.man-product-info .man-product-describe {
  font-size: 2vw;
  font-weight: 400;
  border-bottom: 1px solid;
  padding-bottom: 2vw;
}
.man-product-data {
  
}
.man-product-data .man-product-data-off {
  font-size: 3vw;
  font-weight: 400;
  margin-top: 1vw;
  font-family: var(--font-it-family);
}
.man-product-data .man-product-data-off span {
  font-size: 4vw;
  padding-right: 0px;
}
.man-product-data .man-product-data-amount {
  display: flex;
  align-items: flex-end;
}

.man-product-data-amount .before{
  font-size: 1.5vw;
  margin-right: 1vw;
}
.man-product-data-amount .before b {
  text-decoration: line-through;
  font-weight: initial;
}
.man-product-data-amount .before span{
  font-size: .9vw;
  text-decoration: line-through;
}
.man-product-data .after{
  font-size: 2vw;

}
.man-product-data .after span{
  font-size: 1vw;

}
.man-product-handle-group {
  position: absolute;
  top: 46vw;
  left: 60vw;
  display: flex;
  color: #fff;
  align-items: center;
  
  font-size: 1.8vw;
  font-style: normal;
  font-weight: 400;
  z-index:9;
}
.man-product-handle-group .man-product-handle-button-buy {
  padding: .5vw 2vw;
  border-radius: 3vw;
  background: #b9e7ff;
  text-align: center;
  margin-right: 20px;
  color: #000;
  cursor: pointer;
  border: 1px solid transparent;
}
.man-product-handle-group .man-product-handle-button-buy:hover{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.man-product-handle-group .man-product-handle-button-details {
  padding: .5vw 2vw;
  border-radius: 3vw;
  border: 1px solid #fff;
  background: transparent;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}
.man-product-handle-group .man-product-handle-button-details:hover{
  background: #b9e7ff;
  color:#000;
  border: 1px solid transparent;
}
/* model2  end */
/* model3 start */
.sell-point-container {
  position: relative;
  background: #010102;
  padding-bottom:5vw;
}
.sell-point-container .sell-point-float {
  position: absolute;
  left: 0vw;
  top: -32vw;
}
.sell-point-container .sell-point-float img {
  width: 60vw;
}
.sell-point-container .sell-point-label {
  color: #fff;
  
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sell-point-container .sell-point-label {
  text-align: center;
  padding-top: 3vw;
}
.sell-point-container .sell-point-label span {
  background-image: -webkit-linear-gradient(bottom, #c0e9ff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sell-point-container .sell-point-sub-describe {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 2vw;
  font-style: normal;
  line-height: normal;
  width: 24vw;
  margin: 60px auto 0;
}
.sell-point-container .sell-point-sub-describe span {
  font-size: 3vw;
}
.sell-point-container .sell-point-sub-describe:before {
  content: "";
  position: absolute;
  border: 1px solid #fff;
  height: 6vw;
  left: -35px;
  top: 31px;
  transform: rotate(334deg);
}
.sell-point-container .sell-point-sub-describe:after {
  content: "";
  position: absolute;
  border: 1px solid #fff;    
  height: 6vw;  
  right: -35px;
  top: 31px;
  transform: rotate(26deg);
}
.sell-point-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vw;
}
.sell-point-tags .sell-point-tag {
  background: #ffffff;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sell-point-icon {
  padding: 0 40px;
  color: #fff;
}
.sell-point-icon img{
  width:3vw;
}
.sell-point-tags .sell-point-tag:nth-child(1) {
  background: #c9ecff;
}
.sell-point-tags .sell-point-tag .sell-point-tag-label {
  color: #000;
  
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: 6vw;
}
.sell-point-tags .sell-point-tag .sell-point-tag-label span {
  color: #000;
  
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sell-point-tags .sell-point-tag .sell-point-tag-sub-label {
  color: #000;
  
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.man-description {
  margin-top: 60px;
  color: #fff;
  text-align: center;
  padding-bottom:5vw;
  
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.man-description .man-description-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:5vw;
}
.man-description .man-description-list .man-description-item {
  margin-right: 10px;
  position: relative;
}
.man-description
  .man-description-list
  .man-description-item
  .man-description-item-ellipse {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.man-description
  .man-description-list
  .man-description-item
  .man-description-item-ellipse
  .ellipse-text {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(50%, 91%); */
  /* text-align: center; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* model3 end */

/* model4 start */

.w1200 {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}
.w1200 img {
  width:100%;
}
.pa {
  position: absolute;
}
.marks {
  top: 4VW;
  LEFT: 49VW;
  transform: unset;
}
.t1 {
  top: 15vw;
  left: 20vw;
  color: var(--WHITE, #fff);
  text-align: center;
  
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 62vw;
  transform: unset;
}
.t2 {
  color:#fff;
  
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 27vw;
  left: 50vw;
  position: absolute;
  /* width: 20vw; */
  transform:unset;
}
.t2:before {
  content: "";
  position: absolute;
  width: 70px;
  border: 1px solid;
  left: -100px;
  top: 16px;
}
.swiper-banner {
  width: 100%;
  height: 41vw;
}

.swiper-banner .swiper-slide {
  width: 100%;
  height: 41vw;
  color: #fff;
  display: block;
  background: #000;
}

.swiper-banner .swiper-slide .wrap {
  height: 520px;
}

.swiper-banner .swiper-slide .sl-left {
  top: 0;
  left: 0px;
  width: 100%;
}

.swiper-banner .swiper-pagination {
  bottom: 3vw !important;
}

.swiper-banner .swiper-pagination .swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  border-radius: 0;
}

.swiper-banner .swiper-nav {
  width: 100%;
  height: 100px;
  background: rgba(233, 233, 233, 0.05);
  left: 0;
  bottom: 0;
    z-index: 1
}

.swiper-banner .swiper-nav li {
  color: #fff;
  width: 239px;
  height: 100px;
  border-right: 1px solid rgba(233, 233, 233, 0.05);
  float: left;
  cursor: pointer;
}

.swiper-banner .swiper-nav li .icon {
  width: 65px;
  height: 100px;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}

.swiper-banner .swiper-nav li .info {
  float: left;
  width: 174px;
  height: 100px;
}

.swiper-banner .swiper-nav li .info div {
  padding-top: 30px;
  font-size: 16px;
  padding-bottom: 5px;
}

.swiper-banner .swiper-nav li .info p {
  color: #c3c3c3;
  font-size: 14px;
}

.swiper-banner .swiper-nav li.active {
  background: rgba(233, 233, 233, 0.05);
}

.swiper-banner .swiper-nav li:nth-child(5) {
  border-right: none;
}
/* model4 end */
/* model5 container */
.introduce-container {
  position: relative;
 padding-bottom:25vw;
  background: linear-gradient(277deg, #131618 1.99%, #1e252e 98.87%);
}
.introduce-container .introduce-left {
  width: 50%;
  padding-left: 12vw;
  padding-top: 15vw;
}
.introduce-container .introduce-left h3 {
  color: var(--WHITE, #fff);
  
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 65px */
}
.introduce-container .introduce-left h2 {
     background-image: -webkit-linear-gradient(bottom, #c0e9ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 91px */
}
.introduce-container .introduce-left h4 {
  color: rgba(255, 255, 255, 0.5);
  
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 45px;
}
.introduce-container .introduce-left p {
  color: var(--WHITE, #fff);
  text-align: center;
  
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding-left: 3vw;
}
.introduce-right {
  position: absolute;
  right: 11vw;
  top: 0;
  transform: translate(0%, 25%);
}
.introduce-right  .introduce-right-center{
  width: 30vw;
}
.circular-container {
  position: absolute;
  top: -3vw;
  left: 5vw;
}
.circular-container-back{
  width:12vw;
}
.circular-container2 {
  position: absolute;
  top: 11vw;
  left: -5vw;
}
.circular-container3 {
  position: absolute;
  top: 24vw;
  left: 9vw;
}
.introduce-text {
  position: absolute;
  color: #fff;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduce-text .introduce-text-index {
  color: #a1a9ae;
  
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.introduce-text .introduce-text-label {
  color: var(--WHITE, #fff);
  
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0;
}
.introduce-text .introduce-text-sub-label {
     background-image: -webkit-linear-gradient(bottom, #c0e9ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.introduce-product {
  position: absolute;
  top: -14vw;
  right: 0;
  width: 60vw;
}
.introduce-product img{
  width: 63vw;
}
/* model5 end */
/* model6 start */
.propaganda-container {
  position: relative;
  padding-bottom:3vw;
  background: #000;
}
.propaganda-container .propaganda-header {
  text-align: center;
  padding-top: 80px;
}
.propaganda-container .propaganda-header .propaganda-label {
  color: var(--WHITE, #fff);
  
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.propaganda-container .propaganda-header .propaganda-label span {
     background-image: -webkit-linear-gradient(bottom, #c0e9ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.propaganda-container .propaganda-header .propaganda-description {
  padding-top: 20px;
  color: var(--WHITE, #fff);
  text-align: center;
  
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.propaganda-main {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 2vw;
}
.propaganda-main img {
  margin-right: 50px;
  width:30vw;
}
.propaganda-footer {
  width: 95%;
  margin: 0px auto;
  height: 135px;
  color: #fff;
  
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.propaganda-footer p{
  width: 76%;
}
.propaganda-footer  .propaganda-footer-background{
  position: relative;
  top: 0;
  left: 0;
}
.propaganda-footer .propaganda-innter {
  position: absolute;
  display:flex;
  align-items :center;
  justify-content:center;
}
.propaganda-footer .propaganda-innter img {
  padding-right: 2vw;
}
.propaganda-footer p {
  margin: 0;
}
/* model6 end */

/* model 7 start */
.exhibition-container {
  position: relative;
  
  background: url('https://cdn.shopify.com/s/files/1/0841/4596/3322/files/background2.png?v=1719458366') no-repeat 100% 100% #000;
  /* background-size: cover; */
  top: 0;
  left: 0;
  overflow: hidden;
  padding-bottom: 49.5vw;
}
.exhibition-container .exhibition-container-description {
  position: absolute;
  top: 25vw;
  left: 11vw;
  z-index:999;
}
.exhibition-container .exhibition-container-label {
     background-image: -webkit-linear-gradient(bottom, #c0e9ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.exhibition-container .exhibition-container-label span {
     background-image: -webkit-linear-gradient(bottom, #c0e9ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.exhibition-container .exhibition-container-sub-label {
  color: var(--WHITE, #fff);
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.exhibition-container .exhibition-container-text {
  padding-top: 1vw;
  color: var(--WHITE, #fff);
  
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-left: 0vw;
}
.exhibition-container .exhibition-container-text span {
  color: var(--WHITE, #fff);
  
  font-size: 2.2;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.exhibition-container .exhibition-container-text b {
  color: var(--WHITE, #fff);
  
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.exhibition-container-material {
  position: absolute;
  top: 12vw;
  left: 40vw;
    z-index: 1
}
.exhibition-container-material img{
  width: 75%;
}
.exhibition-container-img {
  position: absolute;
  right: -8vw;
  top: 0;
}
.exhibition-container-img img {
  width:60vw;
}
/* model 7 end */
/* model 7 start */
.nurse-container {
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #2a2a2a 0%, #161616 100%);
  padding-bottom:33vw;
}
.nurse-container .nurse-left {
  position: absolute;
  top: 3vw;
  left:11vw;
}
.nurse-container .nurse-left .nurse-list {
  display: flex;
  items: center;
}
.nurse-container .nurse-left .nurse-list .nurse-item {
  margin-right: 10px;
}
.nurse-container .nurse-left .nurse-list .nurse-item  img{
  width: 9vw;
}
.nurse-container .nurse-left .nurse-sub-label {
  color: var(--WHITE, #fff);
  
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top:3vw;
}
.nurse-container .nurse-left .nurse-label {
     background-image: -webkit-linear-gradient(bottom, #c0e9ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: -6px;
}
.nurse-container .nurse-left p {
  color: #fff;
  text-align: left;
  margin: 1vw 0;
  font-size: 1.2vw;
}
.nurse-container .nurse-right {
  position: absolute;
  top: 9.2vw;
  right: 15vw;
}
.nurse-container .nurse-right p {
  color: var(--WHITE, #fff);
  
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  margin-bottom: 3vw;
}
.nurse-container .nurse-right span {
  color: var(--WHITE, #fff);
  
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.nurse-container .nurse-right img {
  width: 19vw;
  height: 19vw;
}
/* model 7 end */
/* model 8 start  */
.Introduction-doctor {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(318deg, #111213 23.88%, #292e35 80.91%);
  padding:5vw 0 ;
}
.Introduction-doctor .Introduction-left {
  margin-right: 7vw;
}
.Introduction-doctor .Introduction-left .doctor-name {
  background: #b9e7ff;
  color: #000;
  
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 15vw;
  text-align: center;
  margin: 20px auto;
  padding: 0 5px;
}
.Introduction-doctor .Introduction-left .doctor-details{
  color: var(--WHITE, #FFF);

font-size: 1.5vw;
font-style: normal;
font-weight: 400;
text-align:center;
line-height: normal;
}
.Introduction-right {
  width: 40vw;
}
.Introduction-right h2 {
  color: var(--WHITE, #fff);
  
  font-size: 3vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top:2vw;
}
.Introduction-right p {
  color: var(--WHITE, #fff);
  
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw;
  margin-bottom: 0vw;
  margin-top: 1vw;
}
.Introduction-right span {
  background: #3b4b5d;
  padding: 0 5px;
}
.Introduction-avator img{
  width: 18vw;
  margin: 0 auto;
}
/* model 8 end  */
/* model 9 start */
.service-container{
height: 25vw;
position: relative;
    background:#000;
    top: 0;
    left: 0;
}
.service-container .service-list{
  display:flex;
  align-items:center;
  justify-content:center;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.service-container .service-list .service-item {
  display:flex;
  align-items:center;
  justify-content:center;
  width: 37vw;
  padding:30px 0;
  min-height: 172px;
  flex-shrink: 0;
  margin-right:2vw;
  background:#232A32;
  border:6px solid transparent;
}
.service-container .service-list .service-item:last-child {
  display:flex;
  align-items:center;
  justify-content:center;
  width: 37vw;
  padding:30px 0;
  flex-shrink: 0;
  margin-right:2vw;
  background:transparent;
  border:6px solid #232A32;
}
.service-container .service-item-left {
 margin-right:2vw;
}
.service-container .service-item-right {
  width: 60%;
}
.service-container .service-list .service-item h2{
  color: var(--WHITE, #FFF);
  
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.service-container .service-list .service-item p {
  color: var(--WHITE, #FFF);

font-size: 1.2vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* model 9 end */
/* model 10 start */
.effect-container{
  position:relative;
  top:0;
  left:0;
  background: #181717;
 padding-bottom:62vw;
}
.effect-container .effect-header {
  padding-top:60px;
}
.effect-container .effect-header .effect-label{
  color: var(--WHITE, #FFF);
  
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #232A32;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  width: 60vw;
}
.effect-container  .effect-main{
  position: absolute;
  top: 17vw;
  left: 13vw;
}
.effect-container  .effect-main img {
  width:70vw;
}
.effect-container  .effect-main .vertical-text {
  position: absolute;
  right: 22vw;
  top: 2vw;
  color: #fff;
  writing-mode: tb-rl;
}
.effect-container  .effect-main .vertical-text p {
  riting-mode: vertical-rl;
  letter-spacing: 1px;
  margin: 0;
  
  font-size: 1.7vw;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.effect-container  .effect-copywriting{
  position: absolute;
  bottom: 7vw;
  left: 0;
}
.effect-container  .effect-copywriting .effect-sub-label{
  color: var(--WHITE, #FFF);

font-size: 2.5vw;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.effect-container  .effect-copywriting .effect-label{
     background-image: -webkit-linear-gradient(left, #c0e9ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.effect-header .effect-label span{
  position: relative;
  font-size: 3.5vw;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(bottom, #fff, #fff); */

}
.effect-header .effect-label span::before{
  content:'·'; 
    position: absolute;
    bottom: -2.5vw;
    left: 0%;
    transform: translate(36%, 0%);
}
.effect-container  .effect-copywriting .effect-label span{
  color: #FFF;

font-size: 3vw;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/* model 10 end */
/* model 11 start */
.achievement-container{
  background: linear-gradient(180deg, #2A2A2A 0%, #161616 100%);
  padding:50px 0;
  position: relative;
}
.achievement-container .achievement-header{
    display:flex;
    align-items :center;
    justify-content:center;
    padding-top:0vw;
}
.achievement-container .achievement-header img{
  width: 25vw;
  margin: 0 auto ;
}

.achievement-container .achievement-header .achievement-header-left{
    margin-right:3vw;
}
.achievement-container .achievement-main{
  color: #C3AD7A;
  text-align: center;
  
  width: 70vw;
  margin: 0 auto;
  text-align: left;
}
.achievement-container .achievement-main h3{
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 500;
  padding:30px 0;
  color:#C3AD7A;
}
.achievement-container .achievement-main p{
  font-size: .8vw;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}


/* model 11 end */
.swiper-pagination-bullet{
  background:#000;
  border:1px solid #fff;

}
.swiper-pagination-bullet-active{
  background:#fff;
  border-raduis:50%;
  border:1px solid transparent;
}

@media (max-width: 768px) { 
  .pc-show{
    display: none !important;
  }  
  .m-show{
    display: block !important;
  }
  .introduce-container {
    padding-bottom: 130vw  !important;
  }
  .introduce-product img{
    width:110vw !important;
  }
  .introduce-product {
    position: absolute;
    top: 63vw !important;
    right: 0;
    width: 110vw !important;
  }
  .introduce-right {
    position: absolute;
    right: 11vw  !important;
    top: 50vw  !important;
    transform: translate(0%, 50%);
  }
  .circular-container-back{
    width: 15vw !important; 
  }
  .circular-container {
    top: -6vw  !important;
    left: 7vw  !important;
  }
  .circular-container2 {
    top: 17vw  !important;
    left: -7vw  !important;
  }
  .circular-container3 {
    top: 34vw  !important;
    left: 13vw  !important;
  }
  .introduce-text .introduce-text-index {
    font-size: 3.2vw  !important;
  }
  .introduce-text .introduce-text-label {
    font-size: 1.6vw !important;
  }
  .introduce-text .introduce-text-sub-label {
    font-size: 1.9vw !important;
  }
  .introduce-right .introduce-right-center{
    width: 42vw !important;
  }
  .introduce-container .introduce-left {
    padding-left: 7vw !important;
    padding-top: 11vw;
    width:100% !important;
  }
  .introduce-container .introduce-left h3{
    font-size: 7vw  !important;;
  }
  .introduce-container .introduce-left h2{
    font-size: 14vw  !important;;
  }
  .introduce-container .introduce-left p{
    font-size: 4vw  !important;;
  }
  .propaganda-label{
    padding:0 20px;
    font-size: 7vw !important;
    text-align:left;
  }
  .propaganda-label span{
    display:block;
    font-size: 12vw !important;
  }
  .propaganda-main{
    padding-top: 30px;
  }
  .propaganda-description{
    font-size: 5vw !important;
  }
  .propaganda-main{
    display:block;
    text-align:center;
  }
  .propaganda-main img{
  margin-right: 0px;
  margin-bottom:20px;
  margin:0 auto 10vw;
  }
  .propaganda-footer{
    width:91%;
    margin-top: 9vw;
  }
  .propaganda-footer .propaganda-innter img{
    margin-right:2vw;
  }
  .exhibition-container .exhibition-container-description {
    position: absolute;
    top: 10vw !important;
    left: 15vw !important;
  }
  .exhibition-container .exhibition-container-label span {
    font-size: 10vw !important;
  }
  .exhibition-container .exhibition-container-sub-label{
    font-size: 8vw !important;
  }
  .exhibition-container .exhibition-container-text b{
    font-size: 7vw !important;
  }
  .exhibition-container-img img{
    width: 100vw !important;
  }
  .exhibition-container-material {
    top: 158vw !important;
    left: 0vw !important;
  }
  .exhibition-container-img {
    position: absolute;
    right: 2vw !important;
    top: 6vw !important;
  }
  .exhibition-container {
    overflow: hidden;
        height: 190vw !important;
  }
  .nurse-container .nurse-left .nurse-list .nurse-item img{
    width:20vw !important;
  }
  .service-container {
    height: 110vw !important;
  }
  .nurse-container {
    padding-bottom: 175vw !important;
  }
  .Introduction-doctor .Introduction-left .doctor-name {
    width:30vw !important;
  }
  .nurse-container .nurse-left .nurse-sub-label {
    font-size: 8vw !important;
  }
  .nurse-container .nurse-left .nurse-label{
    font-size: 15.5vw !important;
  }
  .nurse-describe{
    text-align:center !important;
    color:#fff;
    font-size:4vw !important;
    padding-bottom: 4vw;
  }
  .nurse-list{
    margin-top:2vw;
  }
  .nurse-container .nurse-right img {
    width:88vw;
    object-fit:contain;
  }
  .nurse-container .nurse-right {
    position: absolute;
    top: 84vw !important;
    left: 5vw !important;
    right: 0 !important;
  }
  .Introduction-doctor {
    display:block;
  }
  .Introduction-avator{
    text-align: center;
  }
  .Introduction-avator img {
    margin: 0 auto;
    width: 47vw;
    padding-top: 8vw;
  }
  .Introduction-right {
    width:88vw;

  }
  .Introduction-doctor .Introduction-left .doctor-name{
    font-size: 3.5vw;
  }
  .Introduction-doctor .Introduction-left .doctor-details {
    font-size: 4vw;
    padding-bottom:1vw;
  }
  .Introduction-right{
    text-align: left;
    margin: 0 auto;
  }
  .Introduction-right p {
    font-size: 3.2vw;
    line-height:initial;
    margin-top: 2vw;
  }
  .service-container .service-list{
    display:block;
    transform: initial;
    left: 0;
    top: 10vw;
  }
  .service-container .service-item-left img{
    width: 20vw;
    margin-right: 5vw;
  }
  .service-container .service-list .service-item {
    width:95%;
    margin:0 20px;
  }
  .service-container .service-list .service-item h2{
    font-size: 2.6vw;
  }
  .service-container .service-list .service-item p{
    font-size: 2.2vw;
  }
  .effect-container .effect-header .effect-label{
    padding: 50px;
    width:100%;
  }
  .effect-container {
    padding-bottom: 170vw;
  }
  .effect-container .effect-main{
    top: 68vw;
    left: 9vw;
  }
  .effect-label h2{
    color:#fff;
    font-size: 6vw;
  }
  .effect-label h3{
    color:#fff;
    font-size: 5vw;  
    margin-bottom: 2vw;
  }
  .effect-container .effect-copywriting{
    bottom: -117vw;
  }
  .effect-container .effect-copywriting .effect-sub-label {
    font-size: 5vw;
  }
  .effect-container .effect-copywriting .effect-label {
    font-size:7vw;
  }
  .effect-container .effect-copywriting .effect-label span {
    font-size:5vw;
  }
  .link-img{
    margin-top: 4vw;
  }
  .achievement-container .achievement-header img{
    width: 80vw !important;
    margin: 8vw auto 0 !important;
  }
  .achievement-container .achievement-main{
    width: 100vw !important;
  }
  .achievement-container .achievement-header {
    margin:0 20px;
    display:block;
    text-align:center;
    text-align: -webkit-center;
  }
  .achievement-container .achievement-main h3{
    text-align: left;
    margin: 0 auto;
    display: flex;
    color:#C3AD7A;
    align-items: center;
    font-size: 4vw;
    line-height:6vw;
    padding: 10px 0;
    justify-content: center;
  }
  .achievement-container .achievement-main p {
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    padding: 0 5vw;
    display:flex;
    justify-content:center;
    text-align:left;
  }
  .sell-point-tags .sell-point-tag .sell-point-tag-label {
    color: #000;
    
    font-size: 9vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .sell-point-tags .sell-point-tag .sell-point-tag-label span {
    color: #000;
    
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .sell-point-icon{
    padding:0 10px !important;
  }
  .man-description {
    font-size: 5vw;
  }
  .man-description .man-description-list {
    margin-top: 10vw;
  }
  .sell-point-container {
    position: relative;
  background: #010102;
  padding-bottom: 5vw;
  background: url('https://cdn.shopify.com/s/files/1/0553/7392/2352/files/deng.png?v=1719737273') #000 no-repeat;
    background-position-y: 0%;
    background-size: auto;
  background-position-y: 69vw;
  background-size: 76vw;
  }
  .sell-point-container .sell-point-label{
   text-align:left;
   padding:0 20px;
   font-size:8vw;
  }
  .sell-point-container .sell-point-label span{
    display:block;
    font-size:16vw;
  }
  .sell-point-container .sell-point-sub-describe span {
    font-size: 10vw;
  }
  .sell-point-container .sell-point-sub-describe:before{
    height: 50px;
  }
  .sell-point-container .sell-point-sub-describe:after{
    height: 50px;
  }
  .sell-point-tags {
    margin-top: 10vw;
  }
  .sell-point-container .sell-point-sub-describe{
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 5vw;
    font-style: normal;
    line-height: normal;
    width: 48vw;
    margin: 10px auto 0;
  }
  .sell-point-icon img{
    width:8vw;
  }
  .sell-point-tags .sell-point-tag {
    width: 35vw;
    height: 35vw;
  }
  .sell-point-tags .sell-point-tag .sell-point-tag-sub-label {
    color: #000;
    
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .man-description .man-description-list .man-description-item .man-description-item-ellipse {
    position: absolute;
    left: -5%;
    top: 8%;
    transform: translate(22%, 50%);
  }
  .man-description .man-description-list .man-description-item .man-description-item-ellipse img {
    width:25vw;
  }
  .t1 {
    top: 26vw !important;
    left: 5vw !important;
    color: var(--WHITE, #fff);
    text-align: center;
    
    font-size: 3.4vw !important;
    font-style: normal;
    font-weight: 400 !important;
    width: 89vw !important;
    transform: inherit;
  }
  .t2 {
    width: 50vw !important;
    top: 53vw !important;
    left: 46vw !important;
    font-size: 4vw;
  }
  .t2:before{
    left: -20vw !important;
    top: 3vw !important;
    width: 70px !important;
  }
  .swiper-banner .swiper-pagination {
    bottom:3vw !important;
  }
  .man-product-header{
    padding:20px;
    margin-top: -20vw;
  }
  .man-product-header .man-product-sub-label{
    color: var(--WHITE, #FFF);
    
    padding-top:10vw;
    font-size: 8vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .man-product-header .man-product-label{
    background-image: -webkit-linear-gradient(bottom, #c0e9ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 12vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .man-product-header .man-product-describe{

  }
  .man-product-header .man-product-describe p {
    color: var(--WHITE, #FFF);
    font-size:5vw;
    font-style: normal;
    text-align:center;
    font-weight: 400;
    padding:5px 0 0 0;
    line-height: normal;
  }
  .man-product-header .man-product-describe h2 {
    color: var(--WHITE, #FFF);
    
    font-size:24vw;
    text-align:center;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .man-product-header .man-product-describe span {
    color: var(--WHITE, #FFF);
    
    font-size: 15vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
 .man-product-data-amount {
    color: var(--WHITE, #FFF);
    font-size:8vw;
    font-style: normal;
    font-weight: 400;
    text-align:center;
    line-height: normal;
    padding-bottom:20px;
    padding-top:2vw;
    border-bottom:1px solid #fff;
  }
  .man-product-container{
    padding-bottom: 0vw;
  }
  .man-product-data-amount s {
    color: var(--WHITE, #FFF);

    font-size:4.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: strikethrough;
  }
  .man-product-handle-group{
    position: absolute;
    left: 5vw;
    top: 105vw;
    display: flex;
    color: #000;
    align-items: center;
    width: 96%;
    
    font-size: 1.8vw;
    font-style: normal;
  }
  .man-product-handle-group .man-product-handle-button-buy{
    padding: 2vw 5vw;
    border-radius: 6vw;
    background: #b9e7ff;
    text-align: center;
    width:100%;
    margin-right: 20px;
    cursor: pointer;
    font-size:5vw;
    border: 1px solid transparent;
  }
  .man-product-handle-group .man-product-handle-button-details{
    padding: 2vw 5vw;
    width:100%;
    border-radius: 6vw;
    background: transparent;
    text-align: center;
    margin-right: 20px;
    color:#fff;
    cursor: pointer;
    font-size:5vw;
    border: 1px solid #fff;
  }
  .man-product-mainImg-m {
    position: relative;
    top: 15vw;
  }
  .man-product-mainImg-m img{ 
    width:90vw;
  }
  .man-header{
    overflow-x: hidden;
  }
  .man-text-label span{
    transform: skew(334deg,3deg);
    display: inline-block;
    position: relative;
    top: 2vw;
    left: -6vw;
   }
   .effect-container .effect-main img {
    width: 83vw;
   }
   .achievement-num{
    color: #C5B17C;
    
    font-size: 20vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    overflow: hidden;
  }
  .achievement-dw{
    color: #AF9862;
    
    font-size: 14vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5vw;
    width: 100%;
    overflow: hidden;
  }
   .effect-header .effect-label span{
    font-size: 7.5vw;
   }
   .circular-footer{
    color: rgba(255, 255, 255, 0.50);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
left: -12vw;
bottom: -20vw;
  }
  .man-header .man-text-container .man-text-label .text{
    position: relative;
    left: 6vw;
    top: 3vw;
    transform: skew(161deg, 356deg);
    color: #fff;
    font-weight: 700;
    font-size: 19vw;
  }
  .man-header .man-text-container .man-text-label .text:nth-child(2){
    position: relative;
    left: 6vw;
    top: -2vw;
    transform: skew(161deg, 356deg);
    color: #fff;
    font-weight: bold;
    font-size: 19vw;
  }
  .man-header .vertical-text{
    position: absolute;
    right: 5vw;
    top: 89vw;
    writing-mode: tb-rl;
    color: #fff;
  }
  .man-header .vertical-text p{
    font-size: 4vw;
    line-height: 7vw;
  }
  .man-header .man-main-product {
    position: absolute;
    left: 12vw;
    top: 115vw;
    text-align: center;
    display: flex;
    align-items: self-end;
  }
  .man-main-product img {
    width: 30vw;
    height: 100%;
    margin:0 auto;
  }
  .man-main-product .right{
    margin-left:35px;
  }
  .man-main-product .man-main-product-label {
    
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin-top:2vw;
  }
  /*  */
  .nurse-container .nurse-left{
    position: absolute;
  top: 3vw;
  left: 5vw;
  }
  .man-product-handle-group {
    /* top:100vw; */
  }
  .marks{
    top: 6vw !important;
    transform: unset;
    left: 48% !important;
    transform: translate(-50%);
    width: 15vw;

  }
  .swiper-banner{
    height: 78vw;
  }
  .swiper-banner .swiper-slide{
    height: 78vw;
  }
  .propaganda-main img {
    width: 76vw;
  }
  .propaganda-footer p{
    font-size:3.5vw;
    width: 46%;
  }
  .exhibition-container .vertical-text {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 88vw;
    right: 10vw;
    font-size: 6vw;
    writing-mode: tb-rl;
  }
  .exhibition-container .exhibition-container-label {
    font-size: 15vw;
  }
  .exhibition-container .exhibition-container-label span{
    font-size: 3vw;
  }
  .exhibition-container .exhibition-container-text {
    font-size: 5vw;
  }
  .exhibition-container .exhibition-container-text span{
    font-size: 4vw;
  }
  .introduce-right .introduce-right-center{
    width:75vw !important;
  }
  .introduce-right{
    right: 8vw !important;
    top: 46vw !important;
  }
  .circular-container-back{
    width: 28vw !important;
  }
  .circular-container{
    top: -10vw !important;
    left: 12vw !important;
  }
  .circular-container2{
    top: 28vw !important;
    left: -10vw !important;
  }
  .circular-container3{
    top: 57vw !important;
    left: 22vw !important;
  }
  .introduce-text .introduce-text-label{
    font-size:3vw !important;
  }
  .introduce-text .introduce-text-sub-label{
    font-size: 3.3vw !important;
  }
  .service-container .service-list .service-item{
    width:90%;
    margin: 0 auto;
  }
  .service-container .service-list .service-item:last-child{
    width:90%;
    margin: 20px auto 0;
  }
  .service-container .service-list .service-item h2{
    font-size: 4vw;
  }
  .service-container .service-list .service-item p{
    font-size: 3.2vw;
  }
  .achievement-container .achievement-header .achievement-header-left{
    width:65vw;
    margin:0 auto ;
  }
}