	{{ 'air_ipl_lp.css' | asset_url | stylesheet_tag }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<header>
	<div id="header-inner">
		<div class="flex-con">
			<div class="section-inner">
				<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/top-001.jpg?v=1714626543" srcset="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/top-001x2.jpg?v=1714626543" class="pctb"> 
				<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/20240502053057.jpg?v=1714638903" class="sp">
			</div>
		</div>
    </div>
</header>

		<section class="sec-01">
			<div class="section-inner">
				<div class="flex-con">
					<div class="flex-100">
						<p class="sec01-txt">家庭用光美容器の販売台数、<br class="sp">世界No.1<sup class="sup005">*1</sup><img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec01-logo.png?v=1714626905" class="sec01-logo">から</p>
						<p class="sec01-ttl"><span class="english">Ulike</span>史上最大パワー<sup class="sup010">*2</sup></p>
						<h1><span class="english">Air10 <br class="sp"><span class="sp">&nbsp;</span>IPL</span>光美容器、誕生。</h1>
						<p class="sec01-img"><img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec01-001.png"></p>
						<div class="contents-inner">
							<p class="desc">＊１ ユーロモニターインターナショナル調べ/2022年世界の家庭用光美容器の小売販売台数から測定/2023年12月に実施された調査に基づく/家庭用光美容器とは、IPLやレーザーといった光エネルギーを利用して無駄毛を処理する家庭用機器を指す。<br />＊２当社の家庭用光美容器内で。SHRモードによる出力。</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sec-02">
			<div class="section-inner">
				<div class="flex-001">
					<div class="contents-inner">
						<h2>世界で一番売れている理由、<sup>*1</sup><br />次はあなたの肌で、<br />実感してください。</h2>
						<p class="txt">ムダ毛ケアの痛み、熱さ、時間や手間。<br />ひとつひとつは、小さなストレスかもしれない。<br />でも、その我慢を、<br class="sp">求める効果と引き換えにするべきではない。<br />その想いは、2013年のUlike誕生来、<br class="sp">変わることはありません。</p>
						<p class="txt">照射時、肌温度を16℃以下にキープする<sup>*2</sup>技術で、<br />圧倒的な「超冷光美容」を実現。</p>

						<p class="txt">だから、<span class="english">Ulike</span>史上最大パワー26J<sup class="sup-003">*3</sup>により<br />1週間で効果を実感<sup>*4</sup>できるのに、<br class="sp">熱さ、痛みなどの刺激は感じにくい<br />やさしい使い心地の本格ケアを、<br class="sp">いつでも可能にしたのです。</p>

						<p class="desc">＊1 ユーロモニターインターナショナル調べ/2022年世界の家庭用光美容器の小売販売台数から利定/2023年12月に実施された調査<br  class="pctb" />に基づく/家庭用光美容器とは、1PLやレーザーといった光エネルギーを利用して無駄毛を処理する家庭用機器を指す。<br />＊2 国際認証機関CVCによる試験の結果。<br />＊3 当社の家庭用光美容器内で。SHRモードによる出力。<br />＊4 週に3回、トリートメントスケジュールに従った場合。効果には個人差があります。</p>
					</div>
				</div>
            </div>
		</section>

		<section class="sec-02-2">
			<div class="section-inner">
				<div class="contents-inner">
					<div class="flex-con flex-002">
						<div class="flex-50">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec02-006_93b88f58-f381-448f-901f-3c48b2de76a9.png?v=1714633111" class="sec02-img pctb">
							<div class="sp">
								<h3>&nbsp;</h3>
								<p class="txt">矢吹奈子さん出演ムービー公開中</p>
							</div>
						</div>
						<div class="flex-50 pctb">
							<video playsinline="true" muted="muted" autoplay="autoplay" loop="loop" preload="none" aria-label="山本舞香VIDEO" poster="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/top-001.webp">
								<source src="https://cdn.shopify.com/videos/c/o/v/6cdc717c8ae74db8a5985144a1977f57.mp4" type="video/mp4"><img alt="山本舞香VIDEO" src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/top-001.webp">
							</video>
						</div>
						<div class="flex-50 sp">
							<video playsinline="true" muted="muted" autoplay="autoplay" loop="loop" preload="none" aria-label="山本舞香VIDEO" poster="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/top-001.webp">
								<source src="https://cdn.shopify.com/videos/c/o/v/2dac4507ebfd441ca177105c9a4447a3.mp4" type="video/mp4"><img alt="山本舞香VIDEO" src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/top-001.webp">
							</video>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sec-03">
			<div class="section-inner">
				<p class="sec03-ttl">1週間<span>で</span>効果<span>を</span>実感<span><sup>*1</sup></span></p>
				<div class="contents-inner">
					<div class="pctb">
						<div class="flex-con">
							<h2><span class="english">Air10 IPL</span>光美容器<span class="sec03txt">の</span>ポイント</h2>
							<div class="flex-100 flex-con">
								<div class="flex-10">
									<p>Point <span class="english">1</span></p>
								</div>
								<div class="flex-90">
									<p><span>進化した3.0<sup>*2</sup></span>サファイア冷感技術</p>
								</div>
							</div>
							<div class="flex-100 flex-con">
								<div class="flex-10">
									<p>Point <span class="english">2</span></p>
								</div>
								<div class="flex-90">
									<p><span>ダブルランプで</span><span class="english">Ulike</span>史上最大パワー<sup>*3</sup></p>
								</div>
							</div>
							<div class="flex-100 flex-con">
								<div class="flex-10">
									<p>Point <span class="english">3</span></p>
								</div>
								<div class="flex-90">
									<p><span>サロン級の</span>SHRモード搭載<sup>*4</sup><span>でハイパワーでも肌への刺激を抑制</span></p>
								</div>
							</div>
							<div class="flex-100 flex-con">
								<div class="flex-10">
									<p>Point <span class="english">4</span></p>
								</div>
								<div class="flex-90">
									<p><span>最短0.25秒間隔<sup>*5</sup>のフラッシュや自動連射で</span>時短ケア</p>
								</div>
							</div>
							<div class="flex-100 flex-con">
								<div class="flex-10">
									<p>Point <span class="english">5</span></p>
								</div>
								<div class="flex-90">
									<p>人間工学<span>に基づいた使いやすい</span>デザイン</p>
								</div>
							</div>
							<div class="flex-100 flex-con">
								<div class="flex-10">
									<p>Point <span class="english">6</span></p>
								</div>
								<div class="flex-90">
									<p><span>VIOまで</span>あらゆる部位のケアをひとつで</p>
								</div>
							</div>
						</div>
						<p class="desc">＊1トリートメントスケジュールに従って週3回使用した場合。<br class="sp" />効果には個人差および部位差があります。/＊2当社從来品比較<span class="pctb">/＊3当社の家庭用光美容器内で。SHRモードによる出力。/＊4照射モードのひとつ。1回照射<br />で、4回連続フラッシュするというIPL蓄熱式照射技術を指す。/＊5国際認証機関CVCにより、SHRモードで1秒に4回フラッシュする際の平均間隔を0.25秒とした結果。	</span></p>
						<div class="sec03-bg">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec03-002.png" class="pctb">
						</div>
					</div>

					<div class="sp">
						<div class="flex-con">
							<h2><span class="english">Air10 IPL</span>光美容器<span class="sec03txt">の</span>ポイント</h2>
						</div>
						<p class="desc">＊1トリートメントスケジュールに従って週3回使用した場合。<br class="sp" />効果には個人差および部位差があります。</p>
					</div>
				</div>
			</div>
		</section>

		<section class="sec-04">
			<div class="section-inner">
				<div class="contents-inner">
					<div class="flex-con flex-01">
						<div class="flex-left">
							<div class="sec04-ttl-box">
								<div class="point">
									<p>Point <span>1</span></p>
								</div>
								<div class="sec04-ttl">
									<h2><span>進化した3.0<sup>*1</sup></span>サファイア冷感技術</h2>
								</div>
								<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-001-sp.png" class="sp sec04-img">
							</div>
							<div class="sec04-txt-box">
								<h3>ケア前後の冷却不要&超冷で痛みレス<sup>*2</sup></h3>
								<p class="txt">独自の<span>サファイア冷感技術</span>(特許取得)とさらに多層冷却システムを採用で、<br />30分間で7200回を照射をしても、皮膚温度を常に16℃以下<sup>*3</sup>に保つことができます。<br /><span>ケア前後の冷却がいらない</span>のはもちろん、<span>光を照射した時の痛みや赤みといった肌トラブルを減らし、快適なケアを実現</span>します。</p>
								<p class="desc">＊1. 当社従来品比較 /＊2  痛みの感じ方には個人差があります。/＊3  国際認証機関CVCによる試験結果。</p>
							</div>
						</div>
						<div class="flex-right">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-001.png">
						</div>
					</div>
					<div class="flex-con flex-02">
						<div class="flex-right">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-002.png">
						</div>
						<div class="flex-left">
							<div class="sec04-ttl-box">
								<div class="point">
									<p>Point <span>2</span></p>
								</div>
								<div class="sec04-ttl">
									<h2 class="point5">ダブルランプ<span>で効果2倍</span><sup class="point4-sup">*1</sup></h2>
								</div>
								<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-002-sp.png" class="sp sec04-img">
							</div>
							<div class="sec04-txt-box">
								<h3>Ulike史上最大パワー26J<sup>*2</sup>でより速く</h3>
								<p class="txt"><span>ダブルランプ式採用</span>により、<span class="english">Ulike</span>史上最大パワー26Jと広い照射面を同時に実現。<br />照射ボタンを押すと、２本のランプがごくわずかな時間差で複数回光り照射されるため、<sup class="sup003">*3</sup><br />照射時の不快な痛みを抑えながら、熱エネルギーを蓄積してケアをより効果的に。<br /><span>照射スピードが50％<sup>*1</sup>向上するとともに、1週間(３回)の使用で効果を実感<sup>*4</sup>できるようになりました。</p>
								<p class="desc">＊1 当社Air３との比較。/＊2 当社家庭用光美容器内で。SHRモードによる出力/＊3 SHRモード、ハイモード、ファストモードの場合。/＊4 週に３回。トリートメントスケジュールに従った場合。効果には個人差があります。/＊一部使用できない部位があります、取扱説明書をご確認ください。</p>
							</div>
						</div>
					</div>
					<div class="flex-con flex-03">
						<div class="flex-left">
							<div class="sec04-ttl-box">
								<div class="point">
									<p>Point <span>3</span></p>
								</div>
								<div class="sec04-ttl">
									<h2 class="h2-spacing"><span>サロンにならった照射技術 </span><br class="sp" />SHRモード搭載<sup class="point4-sup">*1</sup></h2>
								</div>
                                <div class="sp">
                                  <div class="flex-con">
                                    <div class="flex-50" style="width:50%">
        								<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-003-sp_c02641b3-e0c3-4121-baa3-483c34d108e9.png?v=1714779265" class="sp sec04-img">
                                    </div>
                                    <div class="flex-50" style="width:50%;">
        								<video playsinline="true" muted="muted" autoplay="autoplay" loop="loop" preload="none" aria-label="山本舞香VIDEO" poster="image/sec04-003.png">
            								<source src="https://cdn.shopify.com/videos/c/o/v/c44d480b5621415d8399bb8e2daf2c55.mp4" type="video/mp4"><img alt="山本舞香VIDEO" src="image/sec04-003.png">
            							</video>
                                    </div>
                                  </div>
                                </div>
							</div>
							<div class="sec04-txt-box">
								<h3>VIO、ワキやヒゲなど、<br />強い光を当てるのが心配な部位の<br class="sp" />太い毛もしっかりケア</h3>
								<p class="txt">ハイパワーの光を<span>肌への刺激を抑えながら高速連射</span>できる、SHRモードを新搭載。<br />１回の照射で、４回の連続フラッシュができるため<br /><span>Ulike史上最大パワー<sup>*2</sup>による効率的なケアを安全性高く実現</span>できます。<br />肌への負担が少ないため、デリケートなビキニライン、ワキ、男性のヒゲなどの<br class="pctb" />頑固なムダ毛に特におすすめです。</p>
								<p class="desc">＊1 照射モードのひとつ。１回照射で、４回連続フラッシュするというIPL蓄熱式照射技術を指す。/＊2 当社の家庭用光美容器内で。SHRモードの出力。</p>
							</div>
						</div>
						<div class="flex-right movie-box">
                            <div class="movie-bg-color">&nbsp;</div>
                            <div class="movie-inner">
    							<video playsinline="true" muted="muted" autoplay="autoplay" loop="loop" preload="none" aria-label="山本舞香VIDEO" poster="image/sec04-003.png">
    								<source src="https://cdn.shopify.com/videos/c/o/v/c44d480b5621415d8399bb8e2daf2c55.mp4" type="video/mp4"><img alt="山本舞香VIDEO" src="image/sec04-003.png">
                                </video>
                            </div>
                            <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-003-sp_c02641b3-e0c3-4121-baa3-483c34d108e9.png?v=1714779265" class="pctb sec04-img">
						</div>
					</div>
					<div class="flex-con flex-04">
						<div class="flex-right">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-004.png">
						</div>
						<div class="flex-left">
							<div class="sec04-ttl-box">
								<div class="point">
									<p>Point <span>4</span></p>
								</div>
								<div class="sec04-ttl">
									<h2 class="line2">最短0.25秒間隔<sup class="point4-sup">*1</sup><span> のフラッシュや</span><br /><p class="sec04-ttl-right">AI自動連射機能<sup class="point4-sup">*2</sup></p></h2>
								</div>
								<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-004-sp.png" class="sp sec04-img">
							</div>
							<div class="sec04-txt-box">
								<h3>全身ケアをさらに時短で</h3>
								<p class="txt">脚のケアはたった２分、全身のケアはわずか８分。<sup class="sup003">*3</sup><br />AI連続照射機能により、<br />楽で、スピーディーなケアが可能になりました。</p>
								<p class="desc">＊1 国際認証機関CVCにより、SHRモードで1秒に４回フラッシュする際の平均間隔を0.25秒とした結果。/＊2 SHRモードは自動連続照射はできません。/＊3 国際認証機関CVCにて、160cmの男女３名を対象とした試験結果。お手入れにかかる時間には個人差があります。</p>
							</div>
						</div>
					</div>
					<div class="flex-con flex-05">
						<div class="flex-left">
							<div class="sec04-ttl-box">
								<div class="point">
									<p>Point <span>5</span></p>
								</div>
								<div class="sec04-ttl">
									<h2 class="point5 line2">人間工学<span>に基づいた</span><p class="sec04-ttl-right"><span>使いやすい</span>デザイン</p></h2>
								</div>
								<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-005-sp.png" class="sp sec04-img">
							</div>
							<div class="sec04-txt-box">
								<h3>持ちやすく細部まで照射しやすい</h3>
								<p class="txt">従来よりも大きな照射面でスピーディーなケアを実現しながら、<br /><span>人間工学に基づいた流線型のデザインで手になじみ、細部まで照射しやすく</span>なりました。<br />また照射口と肌が密着する「平面ヘッド」により照射漏れが起こりにくいのも特徴です。</p>
							</div>
						</div>
						<div class="flex-right">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec04-005.png">
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sec-05">
			<div class="section-inner">
				<div class="contents-inner">
					<div class="flex-con">
						<div class="flex-100">
							<h2><span>4</span> つのモードをボタンひとつで</h2>
						</div>
						<div class="flex-50">
							<div class="flex-con">
								<div class="flex-30">
									<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/942.png?v=1714791408" class="pctb">
                                    <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/951.png?v=1714790692" class="sp">
								</div>
								<div class="flex-70">
									<p class="txt">細くて柔らかいムダ毛のケア。<br />または４週間継続使用後の日常ケアに。</p>
								</div>
							</div>
						</div>
						<div class="flex-50">
							<div class="flex-con">
								<div class="flex-30">
									<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/946.png?v=1714791408" class="pctb">
                                    <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/950.png?v=1714790691" class="sp">
								</div>
								<div class="flex-70">
									<p class="txt">Fastモードよりも照射パワーがUP。<br />脚、腕などの全身ケアに。</p>
								</div>
							</div>
						</div>
						<div class="flex-50">
							<div class="flex-con">
								<div class="flex-30">
									<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/944.png?v=1714791408" class="pctb">
                                    <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/952.png?v=1714790692" class="sp">
								</div>
								<div class="flex-70">
									<p class="txt">VIO、ワキや男性のヒゲなどの<br />硬くて太い毛のケアに。</p>
								</div>
							</div>
						</div>
						<div class="flex-50">
							<div class="flex-con">
								<div class="flex-30">
									<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/945.png?v=1714791408" class="pctb">
                                    <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/954.png?v=17147906922" class="sp">
								</div>
								<div class="flex-70">
									<p class="txt">肌への負担を減らしながら26Jのハイパワーで<br class="pctb" />デリケートなVIOやワキ、男性のヒゲなどの<br class="pctb" />硬くて太い毛のケアを。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sec-06">
			<div class="section-inner">
				<div class="flex-con">
					<div class="flex-50">
						<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec06-001.png" class="pctb">
						<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec06-001-sp.png" class="sp" style="padding-top:20px;">
					</div>
					<div class="flex-50 flex-right">
						<p class="txt">超冷光美容×ダブルランプ・SHRモード採用<sup>*1</sup></p>
						<p class="txt txt2"><span class="english" style="font-weight:400;color:#3f3636;">Ulike</span>史上最大パワー<sup>*2</sup></p>
                      <img src='https://cdn.shopify.com/s/files/1/0553/7392/2352/files/Ulike_Air10_IPL.png?v=1714782268' style="width:80%;" class="sp">
                     
						<h2 style="letter-spacing:2px;font-weight:700;" class="pctb"><span class="english">Ulike Air10</span> <br class="pctb" />IPL光美容器</h2>
                   
						<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec06-002_d52b240a-0cc2-4aa3-8ec1-9f96ec85d410.png?v=1714767516" class="pctb" style="margin: 20px 0 10px -65px;">
						<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec06-002-sp_5134b931-728d-4d5b-8af8-000930637c3e.png?v=1714767515" class="sp" style="width:80%;margin:0 15% 0 5%">
						<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec06-003.png" class="sec06-img pctb">
						<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec06-003-sp.png" class="sec06-img sp">
						<p class="sec04-link"><a href="https://jp.ulike.com/products/air10-ipl-hair-removal">公式サイトで購入</a></p>
						<p class="sec04-link2"><a href="https://www.amazon.co.jp/dp/B0CZDQW6QJ?th=1" target="_blank">Amazonで購入</a></p>
						<p class="sec04-link2"><a href="https://item.rakuten.co.jp/ulike-store/air10-ui20/" target="_blank">楽天で購入</a></p>
					</div>
				</div>
				<div class="contents-inner">
					<p class="desc">＊1 照射モードのひとつ。１回照射で、４回連続フラッシュするというIPL蓄熱式照射技術を指す。/＊2 当社の家庭用光美容器内で。SHRモードの出力。</p>
				</div>
			</div>
		</section>

		<section class="sec-07">
			<div class="section-inner">
				<div class="contents-inner">
					<div class="sec07-ttl-box">
						<p class="sec07-ttl"><span class="english">Ulike</span>シリーズ商品について</p>
						<h2>専門医からの推薦</h2>
					</div>
					<div class="flex-con">
						<div class="flex-20">
                            <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/pc.png?v=1714856193" class="pctb">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec07-001.png" class="sp">
							<div class="title-box">
								<p class="sec07-title">やさしい美容皮膚科<br />皮フ科 秋葉原院　院長</p>
								<h3>宇井千穂 <span>先生</span></h3>
							</div>
						</div>
						<div class="flex-80">
							<div class="sp txt-box">
								<p class="txt sp"><span class="sptxt">強いパワーと肌へのやさしさを両立したモードや、冷却機能で肌をクールダウンしながらお手入れできるのが良い。</span></p>
								<details>
									<summary>&nbsp;</summary>
										<p class="txt">ムダ毛ケアのポイントは継続することです。自宅で好きな時にお手入れができる家庭用光美容器は、継続しやすい点がいいですね。Ulike Air10 IPL光美容器は、エステサロンと同様のIPLという光でムダ毛をケアできます。光のパワーが強いと効率的にお手入れができる反面、熱感や痛みが気になる方もいますので、<span>SHRモードのように強いパワーと肌へのやさしさを両立したモードがある点や、冷却機能で肌をクールダウンしながらお手入れできる点が良いですね。</span></p>
										<p class="desc sp">商品：Air10</p>
								</details>
							</div>

							<p class="txt pctb">ムダ毛ケアのポイントは継続することです。自宅で好きな時にお手入れができる家庭用光美容器は、継続しやすい点がいいですね。Ulike Air10 IPL光美容器は、エステサロンと同様のIPLという光でムダ毛をケアできます。光のパワーが強いと効率的にお手入れができる反面、熱感や痛みが気になる方もいますので、<span>SHRモードのように強いパワーと肌へのやさしさを両立したモードがある点や、冷却機能で肌をクールダウンしながらお手入れできる点が良いですね。</span></p>
						</div>
						<p class="desc pctb">商品：Air10</p>
					</div>

					<div class="sp">
					<div class="flex-con">
						<div class="flex-20">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/8cd7efd13adce5e1e07e6f02c3a481fe.png?v=1714856659" class="sp">
							<div class="title-box">
								<p class="sec07-title">皮膚科 / 美容皮膚科<br />医学博士・皮膚科専門医</p>
								<h3>小澤佑美 <span>先生</span></h3>
							</div>
						</div>
						<div class="flex-80">
							<div class="sp txt-box">
								<p class="txt sp"><span class="sptxt">Ulike独自の特許取得済みのサファイア氷感技術を使用し、ほとんど痛みを感じることなく照射できます。</span></p>
								<details>
									<summary>&nbsp;</summary>
										<p class="txt">近年では脱毛や美容が身だしなみとさえ言われることもあり、お家で脱毛や美容を考えている方も多いと思います。自宅で、しかも自分の好きなタイミングで行えるのはサロンやクリニックにはないメリットです。家庭用美容器も年々進化し、種類も様々ですが、こちらの製品では<span>Ulike独自の特許取得済みのサファイア氷感技術を使用し、皮膚の温度を冷却できるため、ほとんど痛みを感じることなく照射できます。</span>操作もシンプルなので、初めての方でも使いやすい点が魅力です。初めてチャレンジする方、どれにしようか迷われている方、男性の方など、様々な方にお勧めしたいですね。</p>
										<p class="desc sp">商品：Air3</p>
								</details>
							</div>
						</div>
						<p class="desc pctb">商品：Air3</p>
					</div>
					</div>

					<div class="flex-100 open-box">
                      	<input type="checkbox" id="sec07box" class="openClose" checked />
						<label for="sec07box" class="open">more</label>
						<div class="content">
							<div class=" pctb">
							<div class="flex-con">
								<div class="flex-20">
									<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/pc_2.png?v=1714856193" class="pctb">
									<div class="title-box">
									<p class="sec07-title">皮膚科 / 美容皮膚科<br />医学博士・皮膚科専門医</p>
									<h3>小澤佑美 <span>先生</span></h3>
									</div>
								</div>
								<div class="flex-80">
									<p class="txt">近年では脱毛や美容が身だしなみとさえ言われることもあり、お家で脱毛や美容を考えている方も多いと思います。自宅で、しかも自分の好きなタイミングで行えるのはサロンやクリニックにはないメリットです。家庭用美容器も年々進化し、種類も様々ですが、こちらの製品では<span>Ulike独自の特許取得済みのサファイア氷感技術を使用し、皮膚の温度を冷却できるため、ほとんど痛みを感じることなく照射できます。</span>操作もシンプルなので、初めての方でも使いやすい点が魅力です。初めてチャレンジする方、どれにしようか迷われている方、男性の方など、様々な方にお勧めしたいですね。</p>
								</div>
								<p class="desc">商品：Air3</p>
							</div>
							</div>

                          <div class="pctb">
							<div class="flex-con">
								<div class="flex-20">
									<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec07-003.png">
									<div class="title-box">
										<p class="sec07-title">エースメディカルクリニック<br />美容皮膚科医師</p>
										<h3>山下真理子 <span>先生</span></h3>
									</div>
								</div>
								<div class="flex-80">
									<p class="txt">光美容器は高出力と冷却機能が大切です。照射の出力が上がれば、効果も上がりますが、強すぎると肌に痛みや違和感を感じる人もいます。そうならない為には、肌をクールダウンさせる必要があります。家庭用美容機器は継続の使用を通じて効果が出ます。Ulike Air3は<span>高出力でありながら、冷感技術も付いてますので、全身のケアが続けやすいです。</span></p>
								</div>
								<p class="desc">商品：Air3</p>
							</div>
                          </div>

					<div class="sp">
					<div class="flex-con">
						<div class="flex-20">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec07-003.png">
							<div class="title-box">
								<p class="sec07-title">エースメディカルクリニック<br />美容皮膚科医師</p>
								<h3>山下真理子 <span>先生</span></h3>
							</div>
						</div>
						<div class="flex-80">
							<div class="sp txt-box">
								<p class="txt sp"><span class="sptxt">高出力でありながら、冷感技術も付いてますので、全身のケアが続けやすいです。</span></p>
								<details>
									<summary>&nbsp;</summary>
										<p class="txt">光美容器は高出力と冷却機能が大切です。照射の出力が上がれば、効果も上がりますが、強すぎると肌に痛みや違和感を感じる人もいます。そうならない為には、肌をクールダウンさせる必要があります。家庭用美容機器は継続の使用を通じて効果が出ます。Ulike Air3は<span>高出力でありながら、冷感技術も付いてますので、全身のケアが続けやすいです。</p>
										<p class="desc sp">商品：Air3</p>
								</details>
							</div>
						</div>
						<p class="desc pctb">商品：Air3</p>
					</div>
					</div>

                          <div class="pctb">
							<div class="flex-con">
								<div class="flex-20">
									<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec07-004.png">
									<div class="title-box">
										<p class="sec07-title">医療法人悠山会 理事長<br />外科 / 整形外科 / メディカルエステ</p>
										<h3>山内達司 <span>先生</span></h3>
									</div>
								</div>
								<div class="flex-80">
									<p class="txt">太く硬い男性のヒゲは、他の部位と比べてお手入れが難しく、継続的なケアが必要です。家庭用光美容器は自宅で好きな時に使えるので、継続しやすい点がメリットです。また、強いパワーが必要である一方で、肌刺激を抑える工夫も求められます。Ulike MEN IPL光美容器は、<span>効率的な光の強さやパルス幅、肌をクールダウンする冷却機能など、男性のムダ毛ケアのために開発された機能が充実している点が良いですね。</span></p>
								</div>
								<p class="desc">商品：MEN</p>
							</div>
                          </div>

					<div class="sp">
					<div class="flex-con">
						<div class="flex-20">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec07-004.png">
							<div class="title-box">
								<p class="sec07-title">医療法人悠山会 理事長<br />外科 / 整形外科 / メディカルエステ</p>
								<h3>山内達司 <span>先生</span></h3>
							</div>
						</div>
						<div class="flex-80">
							<div class="sp txt-box">
								<p class="txt sp"><span class="sptxt">ムダ毛ケアのために開発された機能が充実している点が良いですね。</span></p>
								<details>
									<summary>&nbsp;</summary>
										<p class="txt">太く硬い男性のヒゲは、他の部位と比べてお手入れが難しく、継続的なケアが必要です。家庭用光美容器は自宅で好きな時に使えるので、継続しやすい点がメリットです。また、強いパワーが必要である一方で、肌刺激を抑える工夫も求められます。Ulike MEN IPL光美容器は、<span>効率的な光の強さやパルス幅、肌をクールダウンする冷却機能など、男性のムダ毛ケアのために開発された機能が充実している点が良いですね。</p>
										<p class="desc sp">商品：MEN</p>
								</details>
							</div>
						</div>
						<p class="desc pctb">商品：MEN</p>
					</div>
					</div>

                            
						</div>

						<label for="sec07box" class="close">close</label>
					</div>
				</div>
			</div>
		</section>

		<section class="sec-08">
			<div class="section-inner">
				<div class="contents-inner">
					<div class="sec08-ttl-box">
						<p class="sec08-ttl">Ulikeシリーズ商品*について</p>
						<h2>お客様の声</h2>
					</div>
					<div class="flex-con">
						<div class="flex-30">
							<h3>自宅で簡単に</h3>
							<p class="txt">冷却が素晴らしい。冷却してくれる事で肌の熱さや痛みを軽減してくれます。ボタンを押すとパチっと一瞬光り、少しの熱さと弱めの痛みがありますが、簡単に脱毛が行えます。自宅で簡単に出来るのは決まった時間が取れない人にとって本当に助かります。夏に向けて頑張ってスベスベBODY目指します。</p>
						</div>
						<div class="flex-30">
							<h3>感動！</h3>
							<p class="txt">娘用に買いました。私は昔サロンで脱毛済みですが、自宅でできる手軽さに惹かれて、購入してみました。家庭用がここまで進化していて驚きです！使い始めて１ヶ月ですが、効果はハッキリと現れていて、確実に減ってます！今では息子と旦那にも使ってます（笑）</p>
						</div>
						<div class="flex-30">
							<h3>本当にサロン級の<br class="pctb" />商品でした！</h3>
							<p class="txt">妻へのプレゼントでご購入しました。5回くらい使用したら、だいぶ綺麗な仕上がりになり満足していました。<br />うちは子供がまだ小さいので、空き時間に手軽に脱毛できるのはとてもありがたいと言っておりました。</p>
						</div>
					</div>
                  	<p class="desc">＊Air3</p>
                  
					<div class="flex-100 open-box">
						<input type="checkbox" id="sec08box" class="openClose" checked />
						<label for="sec08box" class="open">more</label>

						<div class="content flex-con">
<!--
							<div class="flex-30">
								<h3>ほんとに痛くない！</h3>
								<p class="txt">本日届いたので試しにやってみました！一時期永久脱毛を店舗で試みましたが痛みで辞めてます。そんな痛がりな自分ですが、パワー最強で全然平気でした！<br />ちなみにヒゲ部分です！レビューにゴムで弾かれたような痛さとありましたが、自分は指で触れたぐらいの感覚でした！</p>
                                  <details>
									<summary>&nbsp;</summary>
                                  これなら続けられます！<br />効果出るかはまだわかりませんが続けのが苦痛じゃないので、しばらく使って見ようと思います！効果出ることを願ってます！<br />追記皮膚から少し浮いてたり、先端がちゃんと冷えてからでないとゴムで弾かれるような痛みがありました！使用方法次第で多少の痛み出ます！
                                  </details>
							</div>

							<div class="flex-30">
								<h3>熱くない！</h3>
								<p class="txt">初めて使ったので他がわからずですが、とにかく熱くならずひんやりで脱毛できるので良かったです！</p>
							</div>
-->
							<div class="flex-30">
								<h3>効果が早い‼️</h3>
								<p class="txt">娘(三十代)にも買ってやったら、腕も脇も3～４回で気にならなくなった、と大喜び故障しても直ぐに対応してくれた。</p>
							</div>
<!--
							<div class="flex-30">
								<h3>本当にサロン級の<br class="pctb" />商品でした！</h3>
								<p class="txt">妻へのプレゼントでご購入しました。5回くらい使用したら、だいぶ綺麗な仕上がりになり満足していました。<br />うちは子供がまだ小さいので、空き時間に手軽に脱毛できるのはとてもありがたいと言っておりました。</p>
							</div>

							<div class="flex-30">
								<h3>光レーザー脱毛</h3>
								<p class="txt">この手の光レーザー脱毛器は3台目です。最初に購入したものは、非常に高額でさらにメンテで一定の発射回数に到達するのが早くとても維持に費用が掛かり、また商品自体も会社もなくなりました。効果はゼロに等しい。<br />2台目は格安のものをAmazonで。</p>
                                <details>
									<summary>&nbsp;</summary>これは一定の効果がありましたが、それ以上の効果は望めませんでした。<br />また発射までの時間が掛かっていました。3台目のこちらの商品はクール機能も極めて良く、コスパも良い。<br />そして使用して3週間ほど経ちますが5回程使用したら明らかに効果が体感出来ました。このお値段なら納得です。<br />非常に体毛的には濃かった男性の意見です。美容外科には流石に劣りますが、これでストレスが解消できれば安い買い物だと思います。追伸、2ヶ月後のレビューです。元々、かなりの剛毛でした。悩みもありましたが、男性の脚でもかなり薄くなりました。1週間程度ではほぼ生えて来ません。ただし週2回、徹底的にやりました。<br />お陰でサロンで高額な費用を支払わずして脱毛成功です。ケアとしてクリームを塗布する事をお勧めします。<br />効果は絶大ですよ。
                                </details>
							</div>
-->
							<div class="flex-30">
								<h3>痛くない！！</h3>
								<p class="txt">レベルマックスでも全く痛くないです！！！感動しました！これからも大切に使い続けたいです。<br />お小遣い貯めて買った甲斐がありました！これで私もツルツル女子だー！</p>
							</div>
<!--
							<div class="flex-30">
								<h3>ひんやりしてて<br class="pctb" />気持ちいい</h3>
								<p class="txt">家庭用脱毛器初めて買ったので効果とかの違いはよく分かりませんが、瞬間冷却みたいな感じで全然痛くなかったです 光にはビビった <br />毛処理の頻度減らせたらいいな〜って感じなのでしばらく使っていこうと思います</p>
							</div>

							<div class="flex-30">
								<h3>ひんやりしていい</h3>
								<p class="txt">ブラウンからの乗り換えです。肌の色の濃さで照射レベルを自動でやってくれるので気に入っていましたが最小レベルでも結構強く、冷やすことはしてくれないものでした。この商品は、照射レベルが手動ですがそれほどきにならないです。保冷剤を貼り付けてるかのように冷たいし、そのせいなのか痛みが少ないです。肝心な脱毛効果もバッチリ！しばらく使い続けたいと思います。</p>
							</div>

							<div class="flex-30">
								<h3>感動！</h3>
								<p class="txt">	娘用に買いました。私は昔サロンで脱毛済みですが、自宅でできる手軽さに惹かれて、購入してみました。家庭用がここまで進化していて驚きです！使い始めて１ヶ月ですが、効果はハッキリと現れていて、確実に減ってます！今では息子と旦那にも使ってます（笑）</p>
							</div>
-->
							<div class="flex-30">
								<h3>最高です。</h3>
								<p class="txt">Ulike Air Proからの乗り換えです。Air Pro使用時から成果が出ていたのですが、Ulike Air3に変えたことにより、照射エネルギーが21Jに上がり更にスピーディーに成果が出ています。個人差はあるとは思いますが、2週間ほどで男性の剛毛でも薄くなってきます！心配の痛みですが、照射時に時おりチクリとするときがありますが慣れればそれ程でもありません。</p>
							</div>
<!--
							<div class="flex-30">
								<h3>効果はまだ<br class="pctb" />分かりませんが</h3>
								<p class="txt">本日から使用しました。※男性使用した感じをひとまずレビューします。まず、ちゃんと除毛しないとそれなりに痛いです。これは黒い色素に対して効果がきっちりあると言う事がある意味証明されているのと同義ですが、濃い毛の毛穴に照射する時はそれなりに痛かったです。</p>
                                <details>
									<summary>&nbsp;</summary>製品の取り回しに関しては特に問題を感じませんでした。ケーブルの長さはそれなりにあるので、全身に使用する場合にも問題ありません。また、照射速度ですがレベル1はかなり高速で、レベル2は少し間隔が開きますがそれでも連続性はあります。レベル3にすると1秒程度は待ち時間がありますが不快に感じる程ではありませんでした。今迄安い脱毛器を半年程使用しましたが、結局生えなくなるのは産毛だけで標準から濃い毛に関しては生えなくなる事がなく思い切って高額の機器を買いましたがこちらなら効果がきっちり出そうです。ひとまず3ヶ月はかかるつもりで使ってみようと思います。効果が出たら再度レビューに追記します。
                                </details>
							</div>

							<div class="flex-30">
								<h3>ケノンから<br class="pctb" />乗り換えた。最高です。</h3>
								<p class="txt">ケノンって類似商品がありますよね？あっちを２年くらい使っていて、こげくさいし、いたいし、おそいし、１年くらいたって保証期間が切れたころに、だんだんスイッチを押しても押しても何度再起動しても何度カートリッジを付け外ししても作動しなくなってきて、ほんとうにいやなきもちになっていました。</p>
                              <details>
									<summary>&nbsp;</summary>それと、ケノンはどちらかというと、細い産毛がどうしても最後まで処理できなかった。（太い毛はよく反応するからすぐ消えた）こちらも、あまり期待せず、何か月かつかえればいいかな、という気持ちで買いましたが、ケノンが昭和の美顔器とするとこちらはまさしく令和の脱毛器で、気が楽になった。本体そのものはコンパクト。連続ショットがケノンの３倍くらい早いので、ほんとうに足全体とかが数分で終わる。ヘッド部分がレンズになっているので、フラッシュしても焼き付いた感じの汚れが本体に付かない。焦げたにおいもしない。持った感じが軽いし、むつかしい角度で使っている場合でもヘッドを密着させるのには苦労しない。ヘッドのガラスパーツがあるとないとで、密着感が大違いで、これで、確実に処理できる。冷却をしっかりすると、やけつき感を感じない。１回ごとの起動にして、前後１０秒くらい涼しい状態であててからやると、ほんとうに痛みが感じにくい。（ある程度、いたくても平気なところは、連続ショットでスピードをあげてできる。）すごくいいのは、他の脱毛器でもシェーバーでも、首とか襟足は痛くて痛くて赤くなりまくっていたのですが、こちらは、冷却効果のおかげか、赤くならないで処理できるところ。発熱はだいぶあって本体ヨコのスリットから熱い風で排出される。連続で２０分くらい使っていて本体が熱くなった時に、電源が自動できれたことが１回あった。そのあとは、やすみやすみ使っていますが、スイッチをいれようとおもってうごかなかったことはないので、現時点では調子が良いです。
                              </details>
                            </div>

							<div class="flex-30">
								<h3>冷却機能搭載で<br class="pctb" />ひんやりと照射、<br class="pctb" />脱毛処理可能です</h3>
								<p class="txt">毛根を弱らせ自然に脱毛させていく光脱毛なので、下準備に剃毛しておき毛根に直接照射して弱らせていきます光はかなり強いのですが、冷却機能で熱は感じないどころはひやりと心地いい感じ照射口を直接当てて数分で終わりなので、お風呂上がりやTV見ながら気長に続けております</p>
							</div>

							<div class="flex-30">
								<h3>自宅で簡単に</h3>
								<p class="txt">冷却が素晴らしい。冷却してくれる事で肌の熱さや痛みを軽減してくれます。ボタンを押すとパチっと一瞬光り、少しの熱さと弱めの痛みがありますが、簡単に脱毛が行えます。自宅で簡単に出来るのは決まった時間が取れない人にとって本当に助かります。夏に向けて頑張ってスベスベBODY目指します。</p>
							</div>

							<div class="flex-30">
								<h3>ひんやりしてます！</h3>
								<p class="txt">まだ購入して一回目ですが、ひんやりして気持ちいいです。効果はまだわかりませんが、痛みというより、衝撃のような感じで、我慢できる範疇です。連続照射ができて、簡単にケアができます。初めは、恐る恐るだったのですが、音と衝撃に慣れてくれば問題がないかと思います。今後の経過は、又レビューしていきたいと思います。永久脱毛ではないですが、期待をしてます。</p>
							</div>

							<div class="flex-30">
								<h3>ヒゲにも効果アリ！</h3>
								<p class="txt">以前に数千円の安い機種を使用していました。ふくらはぎに３ヶ月程度使って、殆ど生えなくなって喜んだのですが、残念ながら一年後には元通り。永久脱毛とはなりませんでした。本製品は値段からしてレベルが違うと思うのですが、どうでしょうか。</p>
                                  <details>
									<summary>&nbsp;</summary>本製品を使って思ったのは、冷却機能がとても優れている事。レーザーを照射する前に肌を冷やしておくと、痛みが軽減されます。皮膚の薄いアゴ髭部分など、激痛で叫びます！なので以前は保冷剤を顔にくっつけてから照射していましたが、本機の優れた冷却性能があればそれも不要、殆ど痛くありません。すごいです。肝心の脱毛効果については、３ヶ月程度使用してから追記したいと思います。※使用３ヶ月後追記（参考にされる場合は自己責任でお願いします）口の周りの頑固なヒゲに効果があるかを検証しました。結果を申し上げると効果アリです。ただ簡単ではありません。かなり頑張りました。まず普通にヒゲを剃って使用しても中々効果がありませんでしたので、一度口周りのヒゲを毛抜きで全部抜きました。痛いです。その上で１日経過し青髭が確認できたら照射。一ヶ所に10発程度毎日やりました。すると一週間程度で鼻の下のヒゲが生えなくなってきました。その後はしばらく様子を見ながら照射回数を減らしていき、現在は３日に一度、一ヶ所3発程度の照射で髭剃り不要です。顎付近のヒゲはそれよりも頑固でしたが、現在は２日に一度、やはり一ヶ所3発程度の照射で髭剃り不要と言う感じです。その内、本当に永久脱毛となるのかわかりませんが、夜寝る前に3日に一度、数分間の照射で、毎朝の面倒な髭剃りが無くなると考えても十分良いなぁと思います。ちなみにこれまで数千円のものから５万円を超えるものまで10機種程度、脱毛器を使ってみましたが、この機種が一番使いやすいと感じています。※半年間使用後追記写真はヒゲ剃りと照射後３日経過した状態。効き目の無い白髪のヒゲのみ伸びてきて、黒いヒゲはほぼ生えてきません。生き残った数本がしぶとく生えてきますが、ペースはとても遅いです。サロンの様に素早く完璧な永久脱毛は難しいですが、確実に効果はある様です。
                                  </details>
							</div>
                          -->
						</div>
					<label for="sec08box" class="close">close</label>
					</div>

				</div>
			</div>
		</section>

		<section class="sec-09">
			<div class="section-inner">
				<div class="contents-inner sp">
					<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec09-001-sp.png" style="width:92%;margin:0 auto;">
				</div>
				<div class="contents-inner pctb">
                    <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec09-000.png?v=1714771468">
				</div>
			</div>
		</section>

		<section class="sec-10">
			<div class="section-inner">
				<div class="contents-inner">
					<div class="sec09-ttl-box">
						<h2 class="pctb">使用手順</h2>
						<h2 class="sp">&nbsp;</h2>
					</div>
                  <div class="pctb">
                    <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/7aa21a050bd5fa199b0958e6598bcd5b.png?v=1714798090">
                  </div>

                  <div class="sp">
					<div class="flex-con">
						<div class="flex-25">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/955.png?v=1714794409">
						</div>
						<div class="flex-25">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/956.png?v=1714794409">
						</div>
						<div class="flex-25">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/957.png?v=1714794409">
						</div>
						<div class="flex-25">
							<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/958.png?v=1714794409">
						</div>
					</div>
                  </div>
                  
				</div>
			</div>
		</section>

		<section class="sec-11">
			<div class="section-inner">
				<div class="contents-inner">
					<h2>&nbsp;</h2>
					<div class="sec11-txt-box">
						<p class="txt"><span>◎</span>照射する前に、目を保護するため、付属のゴーグルを着用してください。</p>
						<p class="txt"><span>◎</span>照射後48時間は、照射部位に紫外線を当てないでください。外出する際は日焼け止めを肌に塗ってください。</p>
						<p class="txt"><span>◎</span>照射部位には、香水やシートマスク、スクラブ配合の化粧品類を使わないでください。</p>
						<p class="txt"><span>◎</span>本製品にボディクリームは付いておりません。</p>
						<p class="txt"><span>◎</span>本体は水洗いできません。アルコールワイプでヘッドを拭いてお手入れしてください。</p>
					</div>
				</div>
			</div>
		</section>

		<section class="sec-12">
			<div class="section-inner">
				<div class="contents-inner">
					<div class="sec12-txt-box">
						<img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec12-001-sp_0720a480-12be-42d7-9b86-7375e27da236.png?v=1714786087" class="sp">
           
						<div class="sec12-ttl-box pctb">
							<p class="sec09-ttl">超冷光美容×ダブルランプ・SHRモード採用<sup>*1</sup></p>
							<p class="sec09-ttl2"><span class="english">Ulike</span>史上最大パワー<sup>*2</sup></p>
                            <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/Ulike_Air10_IPL_1d69962f-126f-4c7f-9963-c905265d500f.png?v=1714786255" class="sp" style="width:85%;margin:0 auto">
							<h2 class="pctb"><span class="english" style="font-weight:600;letter-spacing: 7px;">Ulike Air10</span><br class="pctb" />IPL光美容器</h2>
						</div>
						<p class="price pctb" style="margin-left:-50px;"><img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec12-002_5fe4cbb3-d040-4c15-82f8-39c06699ce70.png?v=1714772891"></P>
                      	<p class="price sp" style="width:90%;margin:0 auto;"><img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/960.png?v=1714799785"></P>

                      <div class="bender-link">
                        <p>Ulike、Amazon、楽天の各公式サイトで<br />購入していただいた方の中から</p>
                        <p><span>抽選で9名様に100%キャッシュバック</span></p>
                      </div>
						<p class="price pctb"><img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/sec12-003.png"></P>
                                  
						<p class="sec12-link"><a href="https://jp.ulike.com/products/air10-ipl-hair-removal">公式サイトで購入</a></p>
						<p class="sec12-link2"><a href="https://www.amazon.co.jp/dp/B0CZDQW6QJ?th=1" target="_blank">Amazonで購入</a></p>
						<p class="sec12-link2"><a href="https://item.rakuten.co.jp/ulike-store/air10-ui20/" target="_blank">楽天で購入</a></p>
					</div>
				</div>
				<p class="desc">＊1 照射モードのひとつ。１回照射で、４回連続フラッシュするというIPL蓄熱式照射技術を指す。/＊2 当社の家庭用光美容器内で。SHRモードの出力。</p>
			</div>
		</section>



<footer>
	<div class="footer-inner">
		<div class="contents-inner">
			<ul class="footer-ul">
				<li class="menu-item"><a href="https://jp.ulike.com/policies/refund-policy">返金ポリシー</a></li>
				<li class="menu-item"><a href="https://jp.ulike.com/policies/privacy-policy">プライバシーポリシー</a></li>
				<li class="menu-item"><a href="https://jp.ulike.com/policies/terms-of-service">利用規約</a></li>
				<li class="menu-item"><a href="https://jp.ulike.com/policies/shipping-policy">配送ポリシー</a></li>
				<li class="menu-item"><a href="https://jp.ulike.com/policies/contact-information">連絡先情報</a></li>
			</ul>
		</div>
		<p class="footer-logo"><img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/footer-logo.png"></p>
		<address>Copyright © ユーライクジャパン株式会社. All rights reserved.</address>
	</div>
</footer>
</body>
</html>
